# See http://help.github.com/ignore-files/ for more about ignoring files.
.sass-cache
.jekyll-cache
.jekyll-metadata
vendor

/.sass-cache
.DS_STORE
.idea
_site
Gemfile.lock
package-lock.json

dist/src
dist/primeflex.scss
dist/themes/*.scss

node_modules