* {
    box-sizing: border-box;
}

html {
    font-size: 1rem;
}

body {
    font-family: "Inter", sans-serif;
    margin: 0px;
    min-height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.layout-wrapper {
    position: relative;
    background-color: var(--body-bg);
    font-weight: normal;
    color: var(--text-color);

    &::before {
        width: 100%;
        height: 236px;
        content: "";
        display: block;
        z-index: 0;
        position: fixed;
        background-image: var(--body-bg-image);
        background-position: top;
        background-repeat: no-repeat;
        background-size: contain;
    }
}
