* {
    box-sizing: border-box;
}

html {
    font-size: 14px;
}

body {
    font-family: 'Inter', sans-serif;
    margin: 0px;
    min-height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.layout-wrapper {
    background: var(--body-bg);
    position: relative;
    background-color: var(--surface-ground);
    font-weight: normal;
    color: var(--text-color);
}
