.doc-tabmenu {
    list-style: none;
    margin: 0 17rem 0 0;
    padding: 0;
    display: flex;
    margin-bottom: 2rem;
    border-bottom: 1px solid var(--surface-border);

    li {
        margin-bottom: -1px;

        button {
            background-color: transparent;
            border: 0 none;
            display: block;
            padding: 1rem 0;
            min-width: 12rem;
            text-align: center;
            color: var(--text-color-secondary);
            font-size: 1.125rem;
            letter-spacing: 2px;
            cursor: pointer;
            margin: 0;
            transition: all 0.3s;
            border-bottom: 1px solid transparent;
            border-top-right-radius: var(--border-round);
            border-top-left-radius: var(--border-round);

            &:hover {
                border-bottom-color: var(--text-color);
            }

            &:focus {
                outline: 0 none;
            }
        }

        &.doc-tabmenu-active {
            button {
                color: var(--primary-color);
                border-bottom-color: var(--primary-color);
            }
        }
    }
}

.doc-tabpanel,
.doc {
    display: flex;
}

.doc-main {
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 0;
    min-width: 0;
}

.doc-intro {
    margin-bottom: 2rem;

    p {
        font-size: 1.125rem;
        color: var(--surface-800);

        i {
            background-color: var(--primary-100);
            color: var(--primary-900);
            border-radius: 6px;
            padding: 2px 6px;
            font-size: 0.875rem;
            font-weight: 600;
            font-style: normal;
        }

        a {
            color: var(--primary-color);
            font-weight: 600;

            &:hover {
                text-decoration: underline;
            }
        }
    }
}

.doc-section-label {
    display: flex;
    align-items: center;
    scroll-margin-top: 6.5rem;

    > a {
        color: var(--primary-color);
        opacity: 0.7;
        margin-left: 1rem;
        display: none;
        transition: opacity 0.3s, colors 0.3s;
    }

    &:hover {
        > a {
            display: block;

            &:hover {
                opacity: 1;
            }
        }
    }
}

.doc-section-description {
    > p {
        color: var(--surface-800);

        i {
            border-radius: 6px;
            padding: 2px 6px;
            font-size: 0.875rem;
            font-weight: 600;
            font-style: normal;
            white-space: nowrap;
        }

        a {
            color: var(--primary-color);
            font-weight: 600;

            &:hover {
                text-decoration: underline;
            }
        }
    }
}

.layout-wrapper-light {
    .doc-section-description {
        > p {
            i {
                background-color: var(--primary-100);
                color: var(--primary-900);
            }
        }
    }
}

.layout-wrapper-dark {
    .doc-section-description {
        > p {
            i {
                background-color: var(--highlight-bg);
                color: var(--highlight-text-color);
            }
        }
    }
}

.doc-section-nav {
    position: sticky;
    top: 7rem;
    right: 0;
    width: 14rem;
    max-height: calc(100vh - 15rem);
    list-style: none;
    margin: 0;
    padding: 0.25rem 0;
    margin-left: 4rem;
    overflow-y: auto;
    overflow-x: hidden;
    align-self: flex-start;

    > .navbar-item {
        .navbar-item-content {
            border-left: 1px solid var(--menu-border-color);
            padding-left: 0.25rem;
        }
    }

    .navbar-item {
        > .navbar-item-content {
            display: flex;

            .link-button {
                padding: 0.25rem 1rem 0.25rem 1rem;
                color: var(--text-color);
                white-space: nowrap;
                min-width: 0;
                overflow: hidden;
                text-overflow: ellipsis;
                font-size: 0.875rem;

                &:hover {
                    color: var(--primary-color);
                }
            }
        }

        &.active-navbar-item {
            > .navbar-item-content {
                border-color: var(--primary-color);

                .link-button {
                    font-weight: 700;
                    color: var(--primary-color);
                }
            }
        }

        ul {
            list-style: none;
            margin: 0;
            padding: 0;

            .navbar-item {
                .navbar-item-content {
                    padding-left: 1rem;
                }
            }
        }
    }
}

.doc-section-code {
    div {
        &::-webkit-scrollbar {
            width: 5px;
        }
    }

    pre[class*="language"] {
        margin: 0 0 1rem 0;
    }

    .toolbar {
        display: none;
    }

    button {
        display: none;
    }

    &:hover {
        button {
            display: inline-flex;
        }
    }
}

.doc-tablewrapper {
    max-height: 30rem;
    overflow: auto;
    @include card;
    background-color: var(--surface-overlay);
    padding-top: 0;
}

.doc-table {
    border-collapse: collapse;
    width: 100%;
    min-width: 450px;
    background-color: var(--surface-overlay);
    overflow-x: auto;
    position: relative;

    thead {
        position: sticky;
        top: 0;
        left: 0;
        background-color: var(--surface-overlay);
    }
    th {
        border-bottom: 1px solid var(--table-border-color);
        padding: 1rem;
        padding-top: 3rem;
        text-align: left;
        text-transform: capitalize;
    }

    tbody {
        tr:hover {
            background: var(--surface-hover);
        }

        td {
            padding: 1rem;
            border-bottom: 1px solid var(--table-border-color);
            white-space: pre-wrap;
            line-height: 1.5;

            &.doc-option-type {
                font-family: ui-monospace, SFMono-Regular, "SF Mono", Menlo, Consolas, Liberation Mono, monospace;
                color: var(--primary-500);

                > a {
                    color: var(--primary-500);

                    &:hover {
                        text-decoration: underline;
                    }
                }
            }

            &.doc-option-default {
                font-family: ui-monospace, SFMono-Regular, "SF Mono", Menlo, Consolas, Liberation Mono, monospace;
                color: var(--primary-color);
            }

            &:first-child {
                color: var(--primary-color);
                font-weight: 700;
                font-family: ui-monospace, SFMono-Regular, "SF Mono", Menlo, Consolas, Liberation Mono, monospace;
            }

            .doc-option-name,
            > i {
                font-family: ui-monospace, SFMono-Regular, "SF Mono", Menlo, Consolas, Liberation Mono, monospace;
                position: relative;
                scroll-margin-top: 6.5rem;
                background-color: var(--highlight-bg);
                color: var(--highlight-text-color);
                border-radius: 6px;
                padding: 2px 6px;
                font-weight: 600;
                font-style: normal;

                .doc-option-link {
                    position: absolute;
                    top: 0;
                    right: -1.5rem;
                    color: var(--primary-color);
                    opacity: 0.7;
                    display: none;
                    transition: opacity 0.3s, colors 0.3s;
                }
            }

            &:hover {
                .doc-option-name {
                    .doc-option-link {
                        display: inline;

                        &:hover {
                            opacity: 1;
                        }
                    }
                }
            }
        }
    }
}
