.layout-wrapper-light {
    --body-bg: radial-gradient(39.27% 40.65% at 50% 0%, rgba(112, 232, 248, 0.1) 0%, rgba(255, 255, 255, 1) 100%);
    --menu-bg: rgba(255, 255, 255, 1);
    --demo-bg-link: url("/images/tiny-checkers.png");
    --demo-bg-blue: var(--blue-50);
    --demo-bg-yellow: var(--yellow-50);
    --demo-bg-green: var(--green-50);
    --demo-bg-purple: var(--purple-50);
    --demo-bg-indigo: var(--indigo-50);
    --demo-bg-orange: var(--orange-50);
    --demo-bg-cyan: var(--cyan-50);
    --topbar-bg: rgb(250 250 250 / 80%);

    --patern-1: linear-gradient(180deg, #ffffff 1.39%, rgb(79, 234, 255) 100%);
    --patern-2: linear-gradient(180deg, #ffffff 0%, rgb(54, 248, 167) 100%);
    --patern-3: linear-gradient(180deg, #ffffff 0%, #ffffff 100%);
    --patern-4: linear-gradient(180deg, #dbdbdb 0%, #000aff 100%);
    --pattern-mode: multiply;
}
