.layout-wrapper-dark {
    --body-bg: radial-gradient(39.27% 40.65% at 50% 0%, rgba(0, 8, 65, 0.7) 0%, rgba(0, 0, 0, 0.7) 100%);
    --menu-bg: radial-gradient(39.27% 40.65% at 50% 0%, rgba(0, 8, 65, 1) 0%, rgba(0, 0, 0, 1) 100%);
    --demo-bg-link: url("/images/tiny-checkers-dark.png");
    --demo-bg-blue: var(--blue-900);
    --demo-bg-yellow: var(--yellow-900);
    --demo-bg-green: var(--green-900);
    --demo-bg-purple: var(--purple-900);
    --demo-bg-indigo: var(--indigo-900);
    --demo-bg-orange: var(--orange-900);
    --demo-bg-cyan: var(--cyan-900);

    --topbar-bg: rgb(0 1 8 / 80%);

    --patern-1: linear-gradient(180deg, #000000 1.39%, #ffffff 100%);
    --patern-2: linear-gradient(180deg, #ffffff 0%, #00ff94 100%);
    --patern-3: linear-gradient(180deg, #ffffff 0%, #ffffff 100%);
    --patern-4: linear-gradient(180deg, #dbdbdb 0%, #000aff 100%);
    --pattern-mode: screen;
}
