@charset 'UTF-8';

.layout-wrapper-dark{
    --body-bg:radial-gradient(39.27% 40.65% at 50% 0%, rgba(0, 8, 65, 0.7) 0%, rgba(0, 0, 0, 0.7) 100%);

        --demo-bg-link: url("/images/tiny-checkers-dark.png");
        --demo-bg-blue: var(--blue-900);
        --demo-bg-yellow: var(--yellow-900);
        --demo-bg-green: var(--green-900);
        --demo-bg-purple: var(--purple-900);
        --demo-bg-indigo: var(--indigo-900);
        --demo-bg-orange: var(--orange-900);
        --demo-bg-cyan: var(--cyan-900);
}
.layout-wrapper-light{
     --body-bg:radial-gradient(39.27% 40.65% at 50% 0%, rgba( 0, 240, 255, 0.1) 0%, rgba(255, 255, 255, 0.7) 100%);
     --demo-bg-link: url("/images/tiny-checkers.png");
     --demo-bg-blue: var(--blue-50);
     --demo-bg-yellow: var(--yellow-50);
     --demo-bg-green: var(--green-50);
     --demo-bg-purple: var(--purple-50);
     --demo-bg-indigo: var(--indigo-50);
     --demo-bg-orange: var(--orange-50);
     --demo-bg-cyan: var(--cyan-50);
}

@import './_mixins';
@import './_core';
@import './_topbar';
@import './_sidebar';
@import './_content';
@import './_news';
@import './_footer';
@import './_config';
@import './_responsive';
@import './_code';
@import './_doc';
@import './_docsearch';
@import './landing/_landing';
