---
layout: layout
permalink: /display
---

<div>
    <h2>Display</h2>
    <p>Defines how an element is displayed on a page.</p>

    <h5>Classes</h5>
    <table class="doc-table">
        <thead>
        <tr>
            <th>Class</th>
            <th>Properties</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>hidden</td>
            <td>display: none;</td>
        </tr>
        <tr>
            <td>block</td>
            <td>display: block;</td>
        </tr>
        <tr>
            <td>inline</td>
            <td>display: inline;</td>
        </tr>
        <tr>
            <td>inline-block</td>
            <td>display: inline-block;</td>
        </tr>
        <tr>
            <td>flex</td>
            <td>display: flex;</td>
        </tr>
        <tr>
            <td>inline-flex</td>
            <td>display: inline-flex;</td>
        </tr>
        </tbody>
    </table>

    <h5>Hidden</h5>
    <p>Hides an element without allocating any space.</p>
    <div class="card">
        <input type="text" class="inputfield mb-2 hidden" value="This input is not visible"/>
        <input type="text" class="inputfield block" value="Visible input"/>
    </div>

<pre><code class="language-html">
&lt;div class=&quot;card&quot;&gt;
    &lt;input type=&quot;text&quot; class=&quot;inputfield mb-2 hidden&quot; /&gt;
    &lt;input type=&quot;text&quot; class=&quot;inputfield block&quot; /&gt;
&lt;/div&gt;

</code></pre>

    <h5>Block</h5>
    <p>A block element starts on a new line.</p>
    <div class="card">
        <input type="text" class="inputfield mb-2 block" />
        <input type="text" class="inputfield block" />
    </div>

<pre><code class="language-html">
&lt;div class=&quot;card&quot;&gt;
    &lt;input type=&quot;text&quot; class=&quot;inputfield mb-2 block&quot; /&gt;
    &lt;input type=&quot;text&quot; class=&quot;inputfield block&quot; /&gt;
&lt;/div&gt;

</code></pre>

    <h5>Inline</h5>
    <p>An inline element does not start on a new line and allocates width as necessary.</p>
    <div class="card">
        <input type="text" class="inputfield inline" />
        <input type="text" class="inputfield inline" />
    </div>

<pre><code class="language-html">
&lt;div class=&quot;card&quot;&gt;
    &lt;input type=&quot;text&quot; class=&quot;inputfield inline&quot; /&gt;
    &lt;input type=&quot;text&quot; class=&quot;inputfield inline&quot; /&gt;
&lt;/div&gt;

</code></pre>

    <h5>Inline Block</h5>
    <p>Inline block is similar to an inline element but properties like width, height and top bottom paddings/margins are respected.</p>
    <div class="card">
        <input type="text" class="inputfield inline-block" />
        <input type="text" class="inputfield inline-block" />
    </div>

<pre><code class="language-html">
&lt;div class=&quot;card&quot;&gt;
    &lt;input type=&quot;text&quot; class=&quot;inputfield inline-block&quot; /&gt;
    &lt;input type=&quot;text&quot; class=&quot;inputfield inline-block&quot; /&gt;
&lt;/div&gt;

</code></pre>

    <h5>Flex</h5>
    <p>Displays the element as a block level flex container.</p>
    <div class="card flex">
        <input type="text" class="inputfield" />
        <input type="text" class="inputfield" />
    </div>

<pre><code class="language-html">
&lt;div class=&quot;card flex&quot;&gt;
    &lt;input type=&quot;text&quot; class=&quot;inputfield&quot; /&gt;
    &lt;input type=&quot;text&quot; class=&quot;inputfield&quot; /&gt;
&lt;/div&gt;

</code></pre>

    <h5>Inline Flex</h5>
    <p>Displays the element as an inline level flex container..</p>
    <div class="card inline-flex">
        <input type="text" class="inputfield" />
        <input type="text" class="inputfield" />
    </div>

<pre><code class="language-html">
&lt;div class=&quot;card inline-flex&quot;&gt;
    &lt;input type=&quot;text&quot; class=&quot;inputfield&quot; /&gt;
    &lt;input type=&quot;text&quot; class=&quot;inputfield&quot; /&gt;
&lt;/div&gt;

</code></pre>

    <h5>Responsive</h5>
    <p>Responsive alternatives are available to customize the property based on a screen width. Add the responsive breakpoint keyword followed by a semi-colon as a prefix such as <i>md:{classname}</i> to use a responsive class.</p>
    <ul>
        <li><b>sm</b>: small screens e.g. phones</li>
        <li><b>md</b>: medium screens e.g. tablets</li>
        <li><b>lg</b>: large screens e.g. notebooks</li>
        <li><b>xl</b>: larger screens e.g monitors</li>
    </ul>

    <div class="card">
        <h5>Hidden on a Small Screen</h5>
        <p>Resize to toggle the visibility.</p>
        <input type="text" placeholder="First Input" class="inputfield hidden md:block" />

        <h5>Visible on a Small Screen</h5>
        <p>Resize to toggle the visibility.</p>
        <input type="text" placeholder="Second Input" class="inputfield block md:hidden" />
    </div>

<pre><code class="language-html">
&lt;div class=&quot;card&quot;&gt;
    &lt;input type=&quot;text&quot; placeholder=&quot;First Input&quot; class=&quot;inputfield hidden md:block&quot; /&gt;
    &lt;input type=&quot;text&quot; placeholder=&quot;Second Input&quot; class=&quot;inputfield block md:hidden&quot; /&gt;
&lt;/div&gt;

</code></pre>
</div>
