---
layout: layout
permalink: /display
title: Display
---

<div>
    <h2>Display</h2>
    <p>Defines how an element is displayed on a page.</p>

    <h5>Classes</h5>
    <table class="doc-table">
        <thead>
        <tr>
            <th>Class</th>
            <th>Properties</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>hidden</td>
            <td>display: none;</td>
        </tr>
        <tr>
            <td>block</td>
            <td>display: block;</td>
        </tr>
        <tr>
            <td>inline</td>
            <td>display: inline;</td>
        </tr>
        <tr>
            <td>inline-block</td>
            <td>display: inline-block;</td>
        </tr>
        <tr>
            <td>flex</td>
            <td>display: flex;</td>
        </tr>
        <tr>
            <td>inline-flex</td>
            <td>display: inline-flex;</td>
        </tr>
        </tbody>
    </table>

    <h5>Hidden</h5>
    <p>A hidden element is not visible and does not allocate space.</p>
    <div class="card">
        <div class="card-container blue-container flex align-items-center justify-content-start">
            <div class="hidden w-4rem h-4rem bg-blue-500 text-white font-bold p-4 border-round mr-3">1</div>
            <div class="w-4rem h-4rem bg-blue-500 text-white font-bold flex align-items-center justify-content-center p-4 border-round mr-3">2</div>
            <div class="w-4rem h-4rem bg-blue-500 text-white font-bold flex align-items-center justify-content-center p-4 border-round">3</div>
        </div>
    </div>

<pre><code class="language-html">
&lt;div class=&quot;card&quot;&gt;
    &lt;div class=&quot;card-container blue-container flex align-items-center justify-content-start&quot;&gt;
        &lt;div class=&quot;hidden w-4rem h-4rem bg-blue-500 text-white font-bold p-4 border-round mr-3&quot;&gt;1&lt;/div&gt;
        &lt;div class=&quot;w-4rem h-4rem bg-blue-500 text-white font-bold flex align-items-center justify-content-center p-4 border-round mr-3&quot;&gt;2&lt;/div&gt;
        &lt;div class=&quot;w-4rem h-4rem bg-blue-500 text-white font-bold flex align-items-center justify-content-center p-4 border-round&quot;&gt;3&lt;/div&gt;
    &lt;/div&gt;
&lt;/div&gt;

</code></pre>

    <h5>Block</h5>
    <p>A block element starts on a new line.</p>
    <div class="card">
        <div class="card-container yellow-container">
            <div class="block bg-yellow-500 font-bold text-center p-4 border-round mb-3">1</div>
            <div class="block bg-yellow-500 font-bold text-center p-4 border-round mb-3">2</div>
            <div class="block bg-yellow-500 font-bold text-center p-4 border-round mb-3">3</div>
        </div>
    </div>

<pre><code class="language-html">
&lt;div class=&quot;card&quot;&gt;
    &lt;div class=&quot;card-container yellow-container&quot;&gt;
        &lt;div class=&quot;block bg-yellow-500 font-bold text-center p-4 border-round mb-3&quot;&gt;1&lt;/div&gt;
        &lt;div class=&quot;block bg-yellow-500 font-bold text-center p-4 border-round mb-3&quot;&gt;2&lt;/div&gt;
        &lt;div class=&quot;block bg-yellow-500 font-bold text-center p-4 border-round mb-3&quot;&gt;3&lt;/div&gt;
    &lt;/div&gt;
&lt;/div&gt;

</code></pre>

    <h5>Inline</h5>
    <p>An inline element does not start on a new line and allocates width as necessary.</p>
    <div class="card py-6">
        <div class="card-container green-container p-0">
            <div class="inline w-4rem h-4rem bg-green-500 text-white font-bold text-center p-4 border-round mx-4">1</div>
            <div class="inline w-4rem h-4rem bg-green-500 text-white font-bold text-center p-4 border-round">2</div>
            <div class="inline w-4rem h-4rem bg-green-500 text-white font-bold text-center p-4 border-round mx-4">3</div>
        </div>
    </div>

<pre><code class="language-html">
&lt;div class=&quot;card py-6&quot;&gt;
    &lt;div class=&quot;card-container green-container p-0&quot;&gt;
        &lt;div class=&quot;inline w-4rem h-4rem bg-green-500 text-white font-bold text-center p-4 border-round mx-4&quot;&gt;1&lt;/div&gt;
        &lt;div class=&quot;inline w-4rem h-4rem bg-green-500 text-white font-bold text-center p-4 border-round&quot;&gt;2&lt;/div&gt;
        &lt;div class=&quot;inline w-4rem h-4rem bg-green-500 text-white font-bold text-center p-4 border-round mx-4&quot;&gt;3&lt;/div&gt;
    &lt;/div&gt;
&lt;/div&gt;

</code></pre>

    <h5>Inline Block</h5>
    <p>Inline block is similar to an inline element but properties like width, height and top bottom paddings/margins are respected.</p>
    <div class="card">
        <div class="card-container purple-container">
            <div class="inline-block w-4rem h-4rem bg-purple-500 text-white font-bold text-center p-4 border-round">1</div>
            <div class="inline-block w-4rem h-4rem bg-purple-500 text-white font-bold text-center p-4 border-round mx-4">2</div>
            <div class="inline-block w-4rem h-4rem bg-purple-500 text-white font-bold text-center p-4 border-round">3</div>
        </div>
    </div>

<pre><code class="language-html">
&lt;div class=&quot;card&quot;&gt;
    &lt;div class=&quot;card-container purple-container&quot;&gt;
        &lt;div class=&quot;inline-block w-4rem h-4rem bg-purple-500 text-white font-bold text-center p-4 border-round&quot;&gt;1&lt;/div&gt;
        &lt;div class=&quot;inline-block w-4rem h-4rem bg-purple-500 text-white font-bold text-center p-4 border-round mx-4&quot;&gt;2&lt;/div&gt;
        &lt;div class=&quot;inline-block w-4rem h-4rem bg-purple-500 text-white font-bold text-center p-4 border-round&quot;&gt;3&lt;/div&gt;
    &lt;/div&gt;
&lt;/div&gt;

</code></pre>

    <h5>Flex</h5>
    <p>Displays the element as a block level flex container.</p>
    <div class="card">
        <div class="flex card-container indigo-container">
            <div class="flex-1 h-4rem bg-indigo-500 text-white font-bold text-center p-4 border-round">1</div>
            <div class="flex-1 h-4rem bg-indigo-500 text-white font-bold text-center p-4 border-round mx-4">2</div>
            <div class="flex-1 h-4rem bg-indigo-500 text-white font-bold text-center p-4 border-round">3</div>
        </div>
    </div>

<pre><code class="language-html">
&lt;div class=&quot;card&quot;&gt;
    &lt;div class=&quot;flex card-container indigo-container&quot;&gt;
        &lt;div class=&quot;flex-1 h-4rem bg-indigo-500 text-white font-bold text-center p-4 border-round&quot;&gt;1&lt;/div&gt;
        &lt;div class=&quot;flex-1 h-4rem bg-indigo-500 text-white font-bold text-center p-4 border-round mx-4&quot;&gt;2&lt;/div&gt;
        &lt;div class=&quot;flex-1 h-4rem bg-indigo-500 text-white font-bold text-center p-4 border-round&quot;&gt;3&lt;/div&gt;
    &lt;/div&gt;
&lt;/div&gt;

</code></pre>

    <h5>Inline Flex</h5>
    <p>Displays the element as an inline level flex container.</p>
    <div class="card">
        <div class="inline-flex card-container orange-container">
            <div class="flex-1 h-4rem bg-orange-500 text-white font-bold text-center p-4 border-round">1</div>
            <div class="flex-1 h-4rem bg-orange-500 text-white font-bold text-center p-4 border-round mx-4">2</div>
            <div class="flex-1 h-4rem bg-orange-500 text-white font-bold text-center p-4 border-round">3</div>
        </div>
    </div>

<pre><code class="language-html">
&lt;div class=&quot;card&quot;&gt;
    &lt;div class=&quot;inline-flex card-container orange-container&quot;&gt;
        &lt;div class=&quot;flex-1 h-4rem bg-orange-500 text-white font-bold text-center p-4 border-round&quot;&gt;1&lt;/div&gt;
        &lt;div class=&quot;flex-1 h-4rem bg-orange-500 text-white font-bold text-center p-4 border-round mx-4&quot;&gt;2&lt;/div&gt;
        &lt;div class=&quot;flex-1 h-4rem bg-orange-500 text-white font-bold text-center p-4 border-round&quot;&gt;3&lt;/div&gt;
    &lt;/div&gt;
&lt;/div&gt;

</code></pre>

    <h5>Responsive</h5>
    <p>Responsive alternatives are available for customizations based on screen size. Add the responsive breakpoint keyword followed by a semi-colon as a prefix such as <i>md:block</i> to use a responsive class.</p>
    <ul>
        <li><b>sm</b>: small screens e.g. phones</li>
        <li><b>md</b>: medium screens e.g. tablets</li>
        <li><b>lg</b>: large screens e.g. notebooks</li>
        <li><b>xl</b>: larger screens e.g monitors</li>
    </ul>

    <div class="card">
        <div class="card-container cyan-container inline-flex">
            <div class="hidden md:inline-flex h-4rem bg-cyan-500 text-white font-bold align-items-center justify-content-center p-4 border-round mr-3">Hide on a small screen</div>
        </div>
    </div>

<pre><code class="language-html">
&lt;div class=&quot;card&quot;&gt;
    &lt;div class=&quot;card-container cyan-container inline-flex&quot;&gt;
        &lt;div class=&quot;hidden md:inline-flex h-4rem bg-cyan-500 text-white font-bold align-items-center justify-content-center p-4 border-round mr-3&quot;&gt;Hide on a small screen&lt;/div&gt;
    &lt;/div&gt;
&lt;/div&gt;

</code></pre>
</div>
