---
layout: layout
permalink: /overflow
title: Overflow
---

<div>
    <h2>Overflow</h2>
    <p>Controls the behavior when content exceeds the area of its container.</p>

    <h5>Classes</h5>
    <div class="overflow-auto" style="max-height: 500px">
        <table class="doc-table">
            <thead>
            <tr>
                <th>Class</th>
                <th>Properties</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>overflow-auto</td>
                <td>overflow: auto;</td>
            </tr>
            <tr>
                <td>overflow-hidden</td>
                <td>overflow: hidden;</td>
            </tr>
            <tr>
                <td>overflow-visible</td>
                <td>overflow: visible;</td>
            </tr>
            <tr>
                <td>overflow-scroll</td>
                <td>overflow: scroll;</td>
            </tr>
            <tr>
                <td>overflow-x-auto</td>
                <td>overflow-x: auto;</td>
            </tr>
            <tr>
                <td>overflow-x-hidden</td>
                <td>overflow-x: hidden;</td>
            </tr>
            <tr>
                <td>overflow-x-visible</td>
                <td>overflow-x: visible;</td>
            </tr>
            <tr>
                <td>overflow-x-scroll</td>
                <td>overflow-x: scroll;</td>
            </tr>
            <tr>
                <td>overflow-y-auto</td>
                <td>overflow-y: auto;</td>
            </tr>
            <tr>
                <td>overflow-y-hidden</td>
                <td>overflow-y: hidden;</td>
            </tr>
            <tr>
                <td>overflow-y-visible</td>
                <td>overflow-y: visible;</td>
            </tr>
            <tr>
                <td>overflow-y-scroll</td>
                <td>overflow-y: scroll;</td>
            </tr>
            </tbody>
        </table>
    </div>

    <h5>Auto</h5>
    <p>A scrollbar is only displayed when the content does not fit the area.</p>

    <div class="card">
        <div class="line-height-3 card-container blue-container">
            <div class="overflow-auto surface-overlay p-3 border-blue-500 border-2 border-round" style="height: 100px">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit
                esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
            </div>
        </div>
    </div>

    <pre><code class="language-html">
&lt;div class=&quot;card&quot;&gt;
    &lt;div class=&quot;line-height-3 card-container blue-container&quot;&gt;
        &lt;div class=&quot;overflow-auto surface-overlay p-3 border-blue-500 border-2 border-round&quot; style=&quot;height: 100px&quot;&gt;
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit
            esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
            quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
        &lt;/div&gt;
    &lt;/div&gt;
&lt;/div&gt;

</code></pre>

    <h5>Hidden</h5>
    <p>Overflown content is clipped and rest of the content will not bevisible.</p>

    <div class="card">
        <div class="line-height-3 card-container yellow-container">
            <div class="overflow-hidden surface-overlay p-3 border-yellow-500 border-2 border-round" style="height: 100px">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit
                esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
            </div>
        </div>
    </div>

    <pre><code class="language-html">
&lt;div class=&quot;card&quot;&gt;
    &lt;div class=&quot;line-height-3 card-container yellow-container&quot;&gt;
        &lt;div class=&quot;overflow-hidden surface-overlay p-3 border-yellow-500 border-2 border-round&quot; style=&quot;height: 100px&quot;&gt;
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit
            esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
            quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
        &lt;/div&gt;
    &lt;/div&gt;
&lt;/div&gt;

</code></pre>

    <h5>Visible</h5>
    <p>Overflown content is not clipped and rest of the content will be visible.</p>

    <div class="card">
        <div class="line-height-3 card-container green-container">
            <div class="overflow-visible surface-overlay p-3 border-green-500 border-2 border-round" style="height: 100px">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit
                esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
            </div>
        </div>
    </div>

    <pre><code class="language-html">
&lt;div class=&quot;card&quot;&gt;
    &lt;div class=&quot;line-height-3 card-container green-container&quot;&gt;
        &lt;div class=&quot;overflow-visible surface-overlay p-3 border-green-500 border-2 border-round&quot; style=&quot;height: 100px&quot;&gt;
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit
            esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
            quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
        &lt;/div&gt;
    &lt;/div&gt;
&lt;/div&gt;

</code></pre>

    <h5>Scroll</h5>
    <p>A scrollbar is always displayed whether the content overflows or not.</p>

    <div class="card">
        <div class="line-height-3 card-container purple-container">
            <div class="overflow-scroll surface-overlay p-3 border-purple-500 border-2 border-round" style="height: 100px">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit
                esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
            </div>
        </div>
    </div>

    <pre><code class="language-html">
&lt;div class=&quot;card&quot;&gt;
    &lt;div class=&quot;line-height-3 card-container purple-container&quot;&gt;
        &lt;div class=&quot;overflow-scroll surface-overlay p-3 border-purple-500 border-2 border-round&quot; style=&quot;height: 100px&quot;&gt;
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit
            esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
            quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
        &lt;/div&gt;
    &lt;/div&gt;
&lt;/div&gt;
        
</code></pre>

    <h5>Responsive</h5>
    <p>Responsive alternatives are available for customizations based on screen size. Add the responsive breakpoint keyword followed by a semi-colon as a prefix such as <i>md:overflow-auto</i> to use a responsive class.</p>
    <ul>
        <li><b>sm</b>: small screens e.g. phones</li>
        <li><b>md</b>: medium screens e.g. tablets</li>
        <li><b>lg</b>: large screens e.g. notebooks</li>
        <li><b>xl</b>: larger screens .e.g monitors</li>
    </ul>

    <div class="card">
        <div class="line-height-3 card-container indigo-container">
            <div class="overflow-hidden md:overflow-auto surface-overlay p-3 border-indigo-500 border-2 border-round" style="height: 100px">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit
                esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
            </div>
        </div>
    </div>

    <pre><code class="language-html">
&lt;div class=&quot;card&quot;&gt;
    &lt;div class=&quot;line-height-3 card-container indigo-container&quot;&gt;
        &lt;div class=&quot;overflow-hidden md:overflow-auto surface-overlay p-3 border-indigo-500 border-2 border-round&quot; style=&quot;height: 100px&quot;&gt;
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit
            esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
            quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
        &lt;/div&gt;
    &lt;/div&gt;
&lt;/div&gt;

</code></pre>
</div>
