---
layout: layout
permalink: /overflow
---

<div>
    <h2>Overflow</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>

    <h5>Getting Start</h5>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
    <div class="overflow-auto" style="max-height: 500px">
        <table class="doc-table">
            <thead>
            <tr>
                <th>Class</th>
                <th>Properties</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>overflow-auto</td>
                <td>overflow: auto;</td>
            </tr>
            <tr>
                <td>overflow-hidden</td>
                <td>overflow: hidden;</td>
            </tr>
            <tr>
                <td>overflow-visible</td>
                <td>overflow: visible;</td>
            </tr>
            <tr>
                <td>overflow-scroll</td>
                <td>overflow: scroll;</td>
            </tr>
            <tr>
                <td>overflow-x-auto</td>
                <td>overflow-x: auto;</td>
            </tr>
            <tr>
                <td>overflow-x-hidden</td>
                <td>overflow-x: hidden;</td>
            </tr>
            <tr>
                <td>overflow-x-visible</td>
                <td>overflow-x: visible;</td>
            </tr>
            <tr>
                <td>overflow-x-scroll</td>
                <td>overflow-x: scroll;</td>
            </tr>
            <tr>
                <td>overflow-y-auto</td>
                <td>overflow-y: auto;</td>
            </tr>
            <tr>
                <td>overflow-y-hidden</td>
                <td>overflow-y: hidden;</td>
            </tr>
            <tr>
                <td>overflow-y-visible</td>
                <td>overflow-y: visible;</td>
            </tr>
            <tr>
                <td>overflow-y-scroll</td>
                <td>overflow-y: scroll;</td>
            </tr>
            </tbody>
        </table>
    </div>

    <h5>Auto</h5>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>

    <div class="card overflow-hidden" style="height: 200px">
        <div class="overflow-auto text-900 shadow-1 py-2 px-5 w-full" style="height: 150px">
            <p style="max-width: 250px">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Vitae sapien pellentesque habitant morbi tristique senectus et netus. Vitae proin sagittis nisl rhoncus mattis. Maecenas pharetra convallis posuere morbi leo urna molestie.
            </p>
        </div>
    </div>

    <pre><code class="language-html">
&lt;div class=&quot;overflow-auto ...&quot; style=&quot;height: 150px&quot;&gt;
    &lt;p style=&quot;...&quot;&gt;
        Lorem ipsum dolor sit amet, ...
    &lt;/p&gt;
&lt;/div&gt;

</code></pre>

    <h5>Hidden</h5>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>

    <div class="card overflow-hidden" style="height: 200px">
        <div class="overflow-hidden text-900 shadow-1 py-2 px-5 w-full" style="height: 150px">
            <p style="max-width: 250px">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Vitae sapien pellentesque habitant morbi tristique senectus et netus. Vitae proin sagittis nisl rhoncus mattis. Maecenas pharetra convallis posuere morbi leo urna molestie.
            </p>
        </div>
    </div>

    <pre><code class="language-html">
&lt;div class=&quot;overflow-hidden ...&quot; style=&quot;height: 150px&quot;&gt;
    &lt;p style=&quot;...&quot;&gt;
        Lorem ipsum dolor sit amet, ...
    &lt;/p&gt;
&lt;/div&gt;

</code></pre>

    <h5>Visible</h5>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>

    <div class="card overflow-hidden" style="height: 200px">
        <div class="overflow-visible text-900 shadow-1 py-2 px-5 w-full" style="height: 150px">
            <p style="max-width: 250px">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Vitae sapien pellentesque habitant morbi tristique senectus et netus. Vitae proin sagittis nisl rhoncus mattis. Maecenas pharetra convallis posuere morbi leo urna molestie.
            </p>
        </div>
    </div>

    <pre><code class="language-html">
&lt;div class=&quot;overflow-visible ...&quot; style=&quot;height: 150px&quot;&gt;
    &lt;p style=&quot;...&quot;&gt;
        Lorem ipsum dolor sit amet, ...
    &lt;/p&gt;
&lt;/div&gt;

</code></pre>

    <h5>Horizontally Auto Scroll</h5>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>

    <div class="card overflow-hidden" style="height: 150px">
        <div class="overflow-x-auto text-900 shadow-1 py-2 px-5 w-full" style="height: 100px">
            <p style="white-space: nowrap">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                Vitae sapien pellentesque habitant morbi tristique senectus et netus. Vitae proin sagittis nisl rhoncus mattis.
                Maecenas pharetra convallis posuere morbi leo urna molestie. At in tellus integer feugiat scelerisque.
                Adipiscing elit duis tristique sollicitudin nibh sit amet commodo. Luctus accumsan tortor posuere ac ut.
            </p>
        </div>
    </div>

    <pre><code class="language-html">
&lt;div class=&quot;overflow-x-auto ...&quot; style=&quot;height: 100px&quot;&gt;
    &lt;p style=&quot;...&quot;&gt;
        Lorem ipsum dolor sit amet, ...
    &lt;/p&gt;
&lt;/div&gt;

</code></pre>

    <h5>Horizontally Scroll</h5>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>

    <div class="card overflow-hidden" style="height: 150px">
        <div class="overflow-x-scroll text-900 shadow-1 py-2 px-5 w-full" style="height: 100px">
            <p>
                Lorem ipsum dolor sit amet
            </p>
        </div>
    </div>

    <pre><code class="language-html">
&lt;div class=&quot;overflow-x-scroll ...&quot; style=&quot;height: 100px&quot;&gt;
    &lt;p style=&quot;...&quot;&gt;
        Lorem ipsum dolor sit amet
    &lt;/p&gt;
&lt;/div&gt;

</code></pre>

    <h5>Vertically Auto Scroll</h5>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>

    <div class="card overflow-hidden" style="height: 200px">
        <div class="overflow-y-auto text-900 shadow-1 py-2 px-5 w-full" style="height: 150px">
            <p style="max-width: 250px">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                Vitae sapien pellentesque habitant morbi tristique senectus et netus. Vitae proin sagittis nisl rhoncus mattis.
                Maecenas pharetra convallis posuere morbi leo urna molestie. At in tellus integer feugiat scelerisque.
                Adipiscing elit duis tristique sollicitudin nibh sit amet commodo. Luctus accumsan tortor posuere ac ut.
            </p>
        </div>
    </div>

    <pre><code class="language-html">
&lt;div class=&quot;overflow-y-auto ...&quot; style=&quot;height: 150px&quot;&gt;
    &lt;p style=&quot;...&quot;&gt;
        Lorem ipsum dolor sit amet, ...
    &lt;/p&gt;
&lt;/div&gt;

</code></pre>

    <h5>Vertically Scroll</h5>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>

    <div class="card overflow-hidden" style="height: 150px">
        <div class="overflow-y-scroll text-900 shadow-1 py-2 px-5 w-full" style="height: 100px">
            <p>
                Lorem ipsum dolor sit amet
            </p>
        </div>
    </div>

    <pre><code class="language-html">
&lt;div class=&quot;overflow-y-scroll ...&quot; style=&quot;height: 100px&quot;&gt;
    &lt;p style=&quot;...&quot;&gt;
        Lorem ipsum dolor sit amet
    &lt;/p&gt;
&lt;/div&gt;

</code></pre>

    <h5>Scroll</h5>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>

    <div class="card overflow-hidden" style="height: 200px">
        <div class="overflow-scroll text-900 shadow-1 py-2 px-5 w-full" style="height: 150px">
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                Vitae sapien pellentesque habitant morbi tristique senectus et netus. Vitae proin sagittis nisl rhoncus mattis.
                Maecenas pharetra convallis posuere morbi leo urna molestie. At in tellus integer feugiat scelerisque.
                Adipiscing elit duis tristique sollicitudin nibh sit amet commodo. Luctus accumsan tortorposuere ac ut.
                Loremipsumdolorsitamet,consecteturadipiscingelit,seddoeiusmodtemporincididuntutlaboreetdoloremagnaaliqua.Vitaesapienpellentesquehabitantmorbitristiquesenectusetnetus.Vitaeproinsagittisnislrhoncusmattis. Maecenaspharetraconvallisposueremorbileournamolestie.Atintellusintegerfeugiatscelerisque.
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                Vitae sapien pellentesque habitant morbi tristique senectus et netus. Vitae proin sagittis nisl rhoncus mattis.
                Maecenas pharetra convallis posuere morbi leo urna molestie. At in tellus integer feugiat scelerisque.
                Adipiscing elit duis tristique sollicitudin nibh sit amet commodo. Luctus accumsan tortor posuere ac ut.
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                Vitae sapien pellentesque habitant morbi tristique senectus et netus. Vitae proin sagittis nisl rhoncus mattis.
                Maecenas pharetra convallis posuere morbi leo urna molestie. At in tellus integer feugiat scelerisque.
                Adipiscing elit duis tristique sollicitudin nibh sit amet commodo. Luctus accumsan tortor posuere ac ut.
            </p>
        </div>
    </div>

    <pre><code class="language-html">
&lt;div class=&quot;overflow-scroll ...&quot; style=&quot;height: 150px&quot;&gt;
    &lt;p&gt;
        Lorem ipsum dolor sit amet, ...
    &lt;/p&gt;
&lt;/div&gt;

</code></pre>

    <h5>Responsive</h5>
    <p>Breakpoints define how the display property should be defined depending on the screen size. Design is mobile first so smaller values
        can also apply to larger values e.g. md also applies to lg or xl if they are not explicitly defined.</p>
    <ul>
        <li><b>sm</b>: small screens e.g. phones</li>
        <li><b>md</b>: medium screens e.g. tablets</li>
        <li><b>lg</b>: large screens e.g. notebooks</li>
        <li><b>xl</b>: larger screens .e.g monitors</li>
    </ul>

    <h5>Scroll on a Small Screen</h5>
    <p>Resize to change overflow value.</p>

    <div class="card overflow-hidden" style="height: 200px">
        <div class="overflow-scroll md:overflow-auto text-900 shadow-1 py-2 px-5 w-full" style="height: 150px">
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Vitae sapien pellentesque habitant morbi tristique senectus et netus. Vitae proin sagittis nisl rhoncus mattis. Maecenas pharetra convallis posuere morbi leo urna molestie.
            </p>
        </div>
    </div>

    <pre><code class="language-html">
&lt;div class=&quot;overflow-scroll md:overflow-auto ...&quot; style=&quot;height: 150px&quot;&gt;
    &lt;p&gt;
        Lorem ipsum dolor sit amet, ...
    &lt;/p&gt;
&lt;/div&gt;

</code></pre>
</div>
