---
layout: layout
permalink: /position
title: Position
---

<div>
    <h2>Position</h2>
    <p>Specifies how an element is positioned on the screen.</p>

    <h5>Classes</h5>
    <div class="overflow-auto" style="max-height: 500px">
        <table class="doc-table">
            <thead>
            <tr>
                <th>Class</th>
                <th>Properties</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>static</td>
                <td>position: static;</td>
            </tr>
            <tr>
                <td>fixed</td>
                <td>position: fixed;</td>
            </tr>
            <tr>
                <td>relative</td>
                <td>position: relative;</td>
            </tr>
            <tr>
                <td>absolute</td>
                <td>position: absolute;</td>
            </tr>
            <tr>
                <td>sticky</td>
                <td>position: sticky;</td>
            </tr>
            </tbody>
        </table>
    </div>

    <h5>Static</h5>
    <p>A static positioned element is displayed according to the flow of the page and does not get affected by the top, left, right and bottom properties.</p>

    <div class="card">
        <div class="relative card-container blue-container">
            <div class="static bg-blue-100 p-4 border-round" style="min-width: 300px; min-height: 150px;">
                <p class="font-bold text-gray-900">Static</p>
                <div class="absolute bottom-0 left-0 bg-blue-500 border-round p-4 font-bold text-white" style="min-width: 120px; min-height: 70px">
                    Absolute
                </div>
            </div>
        </div>
    </div>

    <pre><code class="language-html">
&lt;div class=&quot;card&quot;&gt;
    &lt;div class=&quot;relative card-container blue-container&quot;&gt;
        &lt;div class=&quot;static bg-blue-100 p-4 border-round&quot; style=&quot;min-width: 300px; min-height: 150px;&quot;&gt;
            &lt;p class=&quot;font-bold text-gray-900&quot;&gt;Static&lt;/p&gt;
            &lt;div class=&quot;absolute bottom-0 left-0 bg-blue-500 border-round p-4 font-bold text-white&quot; style=&quot;min-width: 120px; min-height: 70px&quot;&gt;
                Absolute
            &lt;/div&gt;
        &lt;/div&gt;
    &lt;/div&gt;
&lt;/div&gt;

</code></pre>

    <h5>Fixed</h5>
    <p>A fixed element is positioned relative to the viewport and always located in the same position even when the page is scrolled.</p>

    <div class="card">
        <div class="card-container yellow-container overflow-hidden" style="height: 250px">
            <div class="relative bg-yellow-500 border-round border-1 border-yellow-500" style="height: 200px">
                <div class="absolute top-0 left-0 px-4 py-3 w-full font-bold">
                    Fixed
                </div>
                <div class="absolute overflow-auto surface-overlay mt-6 p-4 line-height-3" style="height: 150px">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                        Vitae sapien pellentesque habitant morbi tristique senectus et netus. Vitae proin sagittis nisl rhoncus mattis.
                        Maecenas pharetra convallis posuere morbi leo urna molestie. At in tellus integer feugiat scelerisque.
                        Adipiscing elit duis tristique sollicitudin nibh sit amet commodo. Luctus accumsan tortor posuere ac ut.
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                        Vitae sapien pellentesque habitant morbi tristique senectus et netus. Vitae proin sagittis nisl rhoncus mattis.
                        Maecenas pharetra convallis posuere morbi leo urna molestie. At in tellus integer feugiat scelerisque.
                        Adipiscing elit duis tristique sollicitudin nibh sit amet commodo. Luctus accumsan tortor posuere ac ut.
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                        Vitae sapien pellentesque habitant morbi tristique senectus et netus. Vitae proin sagittis nisl rhoncus mattis.
                        Maecenas pharetra convallis posuere morbi leo urna molestie. At in tellus integer feugiat scelerisque.
                        Adipiscing elit duis tristique sollicitudin nibh sit amet commodo. Luctus accumsan tortor posuere ac ut.
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                        Vitae sapien pellentesque habitant morbi tristique senectus et netus. Vitae proin sagittis nisl rhoncus mattis.
                        Maecenas pharetra convallis posuere morbi leo urna molestie. At in tellus integer feugiat scelerisque.
                        Adipiscing elit duis tristique sollicitudin nibh sit amet commodo. Luctus accumsan tortor posuere ac ut.
                </div>
            </div>
        </div>
    </div>

    <pre><code class="language-html">
&lt;div class=&quot;card&quot;&gt;
    &lt;div class=&quot;card-container yellow-container overflow-hidden&quot; style=&quot;height: 250px&quot;&gt;
        &lt;div class=&quot;relative bg-yellow-500 border-round border-1 border-yellow-500&quot; style=&quot;height: 200px&quot;&gt;
            &lt;div class=&quot;absolute top-0 left-0 px-4 py-3 w-full font-bold&quot;&gt;
                Fixed
            &lt;/div&gt;
            &lt;div class=&quot;absolute overflow-auto surface-overlay mt-6 p-4 line-height-3&quot; style=&quot;height: 150px&quot;&gt;
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                    Vitae sapien pellentesque habitant morbi tristique senectus et netus. Vitae proin sagittis nisl rhoncus mattis.
                    Maecenas pharetra convallis posuere morbi leo urna molestie. At in tellus integer feugiat scelerisque.
                    Adipiscing elit duis tristique sollicitudin nibh sit amet commodo. Luctus accumsan tortor posuere ac ut.
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                    Vitae sapien pellentesque habitant morbi tristique senectus et netus. Vitae proin sagittis nisl rhoncus mattis.
                    Maecenas pharetra convallis posuere morbi leo urna molestie. At in tellus integer feugiat scelerisque.
                    Adipiscing elit duis tristique sollicitudin nibh sit amet commodo. Luctus accumsan tortor posuere ac ut.
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                    Vitae sapien pellentesque habitant morbi tristique senectus et netus. Vitae proin sagittis nisl rhoncus mattis.
                    Maecenas pharetra convallis posuere morbi leo urna molestie. At in tellus integer feugiat scelerisque.
                    Adipiscing elit duis tristique sollicitudin nibh sit amet commodo. Luctus accumsan tortor posuere ac ut.
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                    Vitae sapien pellentesque habitant morbi tristique senectus et netus. Vitae proin sagittis nisl rhoncus mattis.
                    Maecenas pharetra convallis posuere morbi leo urna molestie. At in tellus integer feugiat scelerisque.
                    Adipiscing elit duis tristique sollicitudin nibh sit amet commodo. Luctus accumsan tortor posuere ac ut.
            &lt;/div&gt;
        &lt;/div&gt;
    &lt;/div&gt;
&lt;/div&gt;

</code></pre>

    <h5>Relative</h5>
    <p>A relative positioned element is displayed relative to its original position. Setting the top, left, right and bottom properties can be used to adjust the position of the element.</p>

    <div class="card">
        <div class="relative card-container green-container">
            <div class="relative bg-green-100 p-4 border-round font-bold text-gray-900" style="min-width: 300px; min-height: 160px;">Relative
                <div class="absolute bottom-0 left-0 bg-green-500 p-4 text-white font-bold border-round" style="min-width: 120px; min-height: 70px">
                    Absolute
                </div>
            </div>
        </div>
    </div>

    <pre><code class="language-html">
&lt;div class=&quot;card&quot;&gt;
    &lt;div class=&quot;relative card-container green-container&quot;&gt;
        &lt;div class=&quot;relative bg-green-100 p-4 border-round font-bold text-gray-900&quot; style=&quot;min-width: 300px; min-height: 160px;&quot;&gt;Relative
            &lt;div class=&quot;absolute bottom-0 left-0 bg-green-500 p-4 text-white font-bold border-round&quot; style=&quot;min-width: 120px; min-height: 70px&quot;&gt;
                Absolute
            &lt;/div&gt;
        &lt;/div&gt;
    &lt;/div&gt;
&lt;/div&gt;

</code></pre>

    <h5>Absolute</h5>
    <p>An absolute positioned element is displayed relative to the nearest positioned element, if there is none then it is positioned according to the document.</p>

    <div class="card">
        <div class="card-container purple-container mb-4">
            <div class="relative bg-purple-100 border-round p-4 font-bold text-gray-900">
                <p class="mt-0">Relative</p>
                <div class="static bg-purple-200 border-round p-4 font-bold text-gray-900" style="min-width: 300px; min-height: 150px;">
                    <p class="mt-0">Static</p>
                    <div class="static bottom-0 left-0 bg-purple-500 border-round p-4 font-bold text-white" style="min-width: 120px; min-height: 70px">
                        Static
                    </div>
                </div>
            </div>
        </div>

        <div class="card-container purple-container">
            <div class="relative bg-purple-100 border-round p-4 font-bold text-gray-900">
                <p class="mt-0">Relative</p>
                <div class="static bg-purple-200 border-round p-4 font-bold text-gray-900" style="min-width: 300px; min-height: 150px;">
                    <p class="mt-0">Static</p>
                    <div class="absolute bottom-0 left-0 bg-purple-500 border-round p-4 font-bold text-white" style="min-width: 120px; min-height: 70px">
                        Dynamic
                    </div>
                </div>
            </div>
        </div>
    </div>

    <pre><code class="language-html">
&lt;div class=&quot;card&quot;&gt;
    &lt;div class=&quot;card-container purple-container mb-4&quot;&gt;
        &lt;div class=&quot;relative bg-purple-100 border-round p-4 font-bold text-gray-900&quot;&gt;
            &lt;p class=&quot;mt-0&quot;&gt;Relative&lt;/p&gt;
            &lt;div class=&quot;static bg-purple-200 border-round p-4 font-bold text-gray-900&quot; style=&quot;min-width: 300px; min-height: 150px;&quot;&gt;
                &lt;p class=&quot;mt-0&quot;&gt;Static&lt;/p&gt;
                &lt;div class=&quot;static bottom-0 left-0 bg-purple-500 border-round p-4 font-bold text-white&quot; style=&quot;min-width: 120px; min-height: 70px&quot;&gt;
                    Static
                &lt;/div&gt;
            &lt;/div&gt;
        &lt;/div&gt;
    &lt;/div&gt;

    &lt;div class=&quot;card-container purple-container&quot;&gt;
        &lt;div class=&quot;relative bg-purple-100 border-round p-4 font-bold text-gray-900&quot;&gt;
            &lt;p class=&quot;mt-0&quot;&gt;Relative&lt;/p&gt;
            &lt;div class=&quot;static bg-purple-200 border-round p-4 font-bold text-gray-900&quot; style=&quot;min-width: 300px; min-height: 150px;&quot;&gt;
                &lt;p class=&quot;mt-0&quot;&gt;Static&lt;/p&gt;
                &lt;div class=&quot;absolute bottom-0 left-0 bg-purple-500 border-round p-4 font-bold text-white&quot; style=&quot;min-width: 120px; min-height: 70px&quot;&gt;
                    Dynamic
                &lt;/div&gt;
            &lt;/div&gt;
        &lt;/div&gt;
    &lt;/div&gt;
&lt;/div&gt;

</code></pre>

    <h5>Sticky</h5>
    <p>A sticky element is dynamically positioned based on the scroll position and toggles between the relative and fixed behavior.</p>

    <div class="card">
        <div class="overflow-hidden card-container indigo-container">
            <div class="overflow-auto border-round border-1 border-indigo-500" style="height: 300px">
                <div>
                    <div class="sticky top-0 font-bold text-white bg-indigo-500 p-4">
                        Sticky Title 1
                    </div>
                    <p class="surface-overlay p-4 m-0">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                        Vitae sapien pellentesque habitant morbi tristique senectus et netus. Vitae proin sagittis nisl rhoncus mattis.
                        Maecenas pharetra convallis posuere morbi leo urna molestie. At in tellus integer feugiat scelerisque.
                        Adipiscing elit duis tristique sollicitudin nibh sit amet commodo. Luctus accumsan tortor posuere ac ut.
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                        Vitae sapien pellentesque habitant morbi tristique senectus et netus. Vitae proin sagittis nisl rhoncus mattis.
                        Maecenas pharetra convallis posuere morbi leo urna molestie. At in tellus integer feugiat scelerisque.
                        Adipiscing elit duis tristique sollicitudin nibh sit amet commodo. Luctus accumsan tortor posuere ac ut.
                    </p>
                </div>
                <div>
                    <div class="sticky top-0 font-bold text-white bg-indigo-500 p-4">
                        Sticky Title 2
                    </div>
                    <p class="surface-overlay p-4 m-0">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                        Vitae sapien pellentesque habitant morbi tristique senectus et netus. Vitae proin sagittis nisl rhoncus mattis.
                        Maecenas pharetra convallis posuere morbi leo urna molestie. At in tellus integer feugiat scelerisque.
                        Adipiscing elit duis tristique sollicitudin nibh sit amet commodo. Luctus accumsan tortor posuere ac ut.
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                        Vitae sapien pellentesque habitant morbi tristique senectus et netus. Vitae proin sagittis nisl rhoncus mattis.
                        Maecenas pharetra convallis posuere morbi leo urna molestie. At in tellus integer feugiat scelerisque.
                        Adipiscing elit duis tristique sollicitudin nibh sit amet commodo. Luctus accumsan tortor posuere ac ut.
                    </p>
                </div>
                <div>
                    <div class="sticky top-0 font-bold text-white bg-indigo-500 p-4">
                        Sticky Title 3
                    </div>
                    <p class="surface-overlay p-4 m-0">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                        Vitae sapien pellentesque habitant morbi tristique senectus et netus. Vitae proin sagittis nisl rhoncus mattis.
                        Maecenas pharetra convallis posuere morbi leo urna molestie. At in tellus integer feugiat scelerisque.
                        Adipiscing elit duis tristique sollicitudin nibh sit amet commodo. Luctus accumsan tortor posuere ac ut.
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                        Vitae sapien pellentesque habitant morbi tristique senectus et netus. Vitae proin sagittis nisl rhoncus mattis.
                        Maecenas pharetra convallis posuere morbi leo urna molestie. At in tellus integer feugiat scelerisque.
                        Adipiscing elit duis tristique sollicitudin nibh sit amet commodo. Luctus accumsan tortor posuere ac ut.
                    </p>
                </div>
                <div>
                    <div class="sticky top-0 font-bold text-white bg-indigo-500 p-4">
                        Sticky Title 4
                    </div>
                    <p class="surface-overlay p-4 m-0">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                        Vitae sapien pellentesque habitant morbi tristique senectus et netus. Vitae proin sagittis nisl rhoncus mattis.
                        Maecenas pharetra convallis posuere morbi leo urna molestie. At in tellus integer feugiat scelerisque.
                        Adipiscing elit duis tristique sollicitudin nibh sit amet commodo. Luctus accumsan tortor posuere ac ut.
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                        Vitae sapien pellentesque habitant morbi tristique senectus et netus. Vitae proin sagittis nisl rhoncus mattis.
                        Maecenas pharetra convallis posuere morbi leo urna molestie. At in tellus integer feugiat scelerisque.
                        Adipiscing elit duis tristique sollicitudin nibh sit amet commodo. Luctus accumsan tortor posuere ac ut.
                    </p>
                </div>
                <div>
                    <div class="sticky top-0 font-bold text-white bg-indigo-500 p-4">
                        Sticky Title 5
                    </div>
                    <p class="surface-overlay p-4 m-0">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                        Vitae sapien pellentesque habitant morbi tristique senectus et netus. Vitae proin sagittis nisl rhoncus mattis.
                        Maecenas pharetra convallis posuere morbi leo urna molestie. At in tellus integer feugiat scelerisque.
                        Adipiscing elit duis tristique sollicitudin nibh sit amet commodo. Luctus accumsan tortor posuere ac ut.
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                        Vitae sapien pellentesque habitant morbi tristique senectus et netus. Vitae proin sagittis nisl rhoncus mattis.
                        Maecenas pharetra convallis posuere morbi leo urna molestie. At in tellus integer feugiat scelerisque.
                        Adipiscing elit duis tristique sollicitudin nibh sit amet commodo. Luctus accumsan tortor posuere ac ut.
                    </p>
                </div>
            </div>
        </div>
    </div>

    <pre><code class="language-html">
&lt;div class=&quot;card&quot;&gt;
    &lt;div class=&quot;overflow-hidden card-container indigo-container&quot;&gt;
        &lt;div class=&quot;overflow-auto border-round border-1 border-indigo-500&quot; style=&quot;height: 300px&quot;&gt;
            &lt;div&gt;
                &lt;div class=&quot;sticky top-0 font-bold text-white bg-indigo-500 p-4&quot;&gt;
                    Sticky Title 1
                &lt;/div&gt;
                &lt;p class=&quot;surface-overlay p-4 m-0&quot;&gt;
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                    Vitae sapien pellentesque habitant morbi tristique senectus et netus. Vitae proin sagittis nisl rhoncus mattis.
                    Maecenas pharetra convallis posuere morbi leo urna molestie. At in tellus integer feugiat scelerisque.
                    Adipiscing elit duis tristique sollicitudin nibh sit amet commodo. Luctus accumsan tortor posuere ac ut.
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                    Vitae sapien pellentesque habitant morbi tristique senectus et netus. Vitae proin sagittis nisl rhoncus mattis.
                    Maecenas pharetra convallis posuere morbi leo urna molestie. At in tellus integer feugiat scelerisque.
                    Adipiscing elit duis tristique sollicitudin nibh sit amet commodo. Luctus accumsan tortor posuere ac ut.
                &lt;/p&gt;
            &lt;/div&gt;
            &lt;div&gt;
                &lt;div class=&quot;sticky top-0 font-bold text-white bg-indigo-500 p-4&quot;&gt;
                    Sticky Title 2
                &lt;/div&gt;
                &lt;p class=&quot;surface-overlay p-4 m-0&quot;&gt;
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                    Vitae sapien pellentesque habitant morbi tristique senectus et netus. Vitae proin sagittis nisl rhoncus mattis.
                    Maecenas pharetra convallis posuere morbi leo urna molestie. At in tellus integer feugiat scelerisque.
                    Adipiscing elit duis tristique sollicitudin nibh sit amet commodo. Luctus accumsan tortor posuere ac ut.
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                    Vitae sapien pellentesque habitant morbi tristique senectus et netus. Vitae proin sagittis nisl rhoncus mattis.
                    Maecenas pharetra convallis posuere morbi leo urna molestie. At in tellus integer feugiat scelerisque.
                    Adipiscing elit duis tristique sollicitudin nibh sit amet commodo. Luctus accumsan tortor posuere ac ut.
                &lt;/p&gt;
            &lt;/div&gt;
            &lt;div&gt;
                &lt;div class=&quot;sticky top-0 font-bold text-white bg-indigo-500 p-4&quot;&gt;
                    Sticky Title 3
                &lt;/div&gt;
                &lt;p class=&quot;surface-overlay p-4 m-0&quot;&gt;
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                    Vitae sapien pellentesque habitant morbi tristique senectus et netus. Vitae proin sagittis nisl rhoncus mattis.
                    Maecenas pharetra convallis posuere morbi leo urna molestie. At in tellus integer feugiat scelerisque.
                    Adipiscing elit duis tristique sollicitudin nibh sit amet commodo. Luctus accumsan tortor posuere ac ut.
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                    Vitae sapien pellentesque habitant morbi tristique senectus et netus. Vitae proin sagittis nisl rhoncus mattis.
                    Maecenas pharetra convallis posuere morbi leo urna molestie. At in tellus integer feugiat scelerisque.
                    Adipiscing elit duis tristique sollicitudin nibh sit amet commodo. Luctus accumsan tortor posuere ac ut.
                &lt;/p&gt;
            &lt;/div&gt;
            &lt;div&gt;
                &lt;div class=&quot;sticky top-0 font-bold text-white bg-indigo-500 p-4&quot;&gt;
                    Sticky Title 4
                &lt;/div&gt;
                &lt;p class=&quot;surface-overlay p-4 m-0&quot;&gt;
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                    Vitae sapien pellentesque habitant morbi tristique senectus et netus. Vitae proin sagittis nisl rhoncus mattis.
                    Maecenas pharetra convallis posuere morbi leo urna molestie. At in tellus integer feugiat scelerisque.
                    Adipiscing elit duis tristique sollicitudin nibh sit amet commodo. Luctus accumsan tortor posuere ac ut.
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                    Vitae sapien pellentesque habitant morbi tristique senectus et netus. Vitae proin sagittis nisl rhoncus mattis.
                    Maecenas pharetra convallis posuere morbi leo urna molestie. At in tellus integer feugiat scelerisque.
                    Adipiscing elit duis tristique sollicitudin nibh sit amet commodo. Luctus accumsan tortor posuere ac ut.
                &lt;/p&gt;
            &lt;/div&gt;
            &lt;div&gt;
                &lt;div class=&quot;sticky top-0 font-bold text-white bg-indigo-500 p-4&quot;&gt;
                    Sticky Title 5
                &lt;/div&gt;
                &lt;p class=&quot;surface-overlay p-4 m-0&quot;&gt;
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                    Vitae sapien pellentesque habitant morbi tristique senectus et netus. Vitae proin sagittis nisl rhoncus mattis.
                    Maecenas pharetra convallis posuere morbi leo urna molestie. At in tellus integer feugiat scelerisque.
                    Adipiscing elit duis tristique sollicitudin nibh sit amet commodo. Luctus accumsan tortor posuere ac ut.
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                    Vitae sapien pellentesque habitant morbi tristique senectus et netus. Vitae proin sagittis nisl rhoncus mattis.
                    Maecenas pharetra convallis posuere morbi leo urna molestie. At in tellus integer feugiat scelerisque.
                    Adipiscing elit duis tristique sollicitudin nibh sit amet commodo. Luctus accumsan tortor posuere ac ut.
                &lt;/p&gt;
            &lt;/div&gt;
        &lt;/div&gt;
    &lt;/div&gt;
&lt;/div&gt;

</code></pre>

    <h5>Responsive</h5>
    <p>Responsive alternatives are available for customizations based on screen size. Add the responsive breakpoint keyword followed by a semi-colon as a prefix such as <i>md:absolute</i> to use a responsive class.</p>
    <ul>
        <li><b>sm</b>: small screens e.g. phones</li>
        <li><b>md</b>: medium screens e.g. tablets</li>
        <li><b>lg</b>: large screens e.g. notebooks</li>
        <li><b>xl</b>: larger screens .e.g monitors</li>
    </ul>

    <div class="card">
        <div class="relative card-container orange-container md:p-5">
            <div class="static bg-orange-100 font-bold text-gray-900 border-round p-4" style="min-width: 300px; min-height: 200px;">
                <p class="mt-0">Static</p>
                <div class="static md:absolute bottom-0 left-0 bg-orange-500 border-round font-bold text-white p-4" style="min-width: 120px; min-height: 70px">
                    Absolute on medium screens / Static on small screens
                </div>
            </div>
        </div>
    </div>

    <pre><code class="language-html">
&lt;div class=&quot;card&quot;&gt;
    &lt;div class=&quot;relative card-container orange-container md:p-5&quot;&gt;
        &lt;div class=&quot;static bg-orange-100 font-bold text-gray-900 border-round p-4&quot; style=&quot;min-width: 300px; min-height: 200px;&quot;&gt;
            &lt;p class=&quot;mt-0&quot;&gt;Static&lt;/p&gt;
            &lt;div class=&quot;static md:absolute bottom-0 left-0 bg-orange-500 border-round font-bold text-white p-4&quot; style=&quot;min-width: 120px; min-height: 70px&quot;&gt;
                Absolute on medium screens / Static on small screens
            &lt;/div&gt;
        &lt;/div&gt;
    &lt;/div&gt;
&lt;/div&gt;

</code></pre>
</div>
