---
layout: layout
permalink: /position
---

<div>
    <h2>Position</h2>
    <p>Specifies how an element is positioned on the screen.</p>

    <h5>Classes</h5>
    <div class="overflow-auto" style="max-height: 500px">
        <table class="doc-table">
            <thead>
            <tr>
                <th>Class</th>
                <th>Properties</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>static</td>
                <td>position: static;</td>
            </tr>
            <tr>
                <td>fixed</td>
                <td>position: fixed;</td>
            </tr>
            <tr>
                <td>relative</td>
                <td>position: relative;</td>
            </tr>
            <tr>
                <td>absolute</td>
                <td>position: absolute;</td>
            </tr>
            <tr>
                <td>sticky</td>
                <td>position: sticky;</td>
            </tr>
            </tbody>
        </table>
    </div>

    <h5>Static</h5>
    <p>A static positioned element is displayed according to the flow of the page and does not get affected by the top, left, right and bottom properties.</p>

    <div class="card relative p-5">
        <div class="static shadow-1 p-3" style="min-width: 300px; min-height: 200px;">
            <p class="font-bold text-blue-500">Static</p>
            <div class="absolute bottom-0 left-0 shadow-2 p-3" style="min-width: 100px; min-height: 100px">
                <p class="font-bold text-blue-500">Absolute</p>
            </div>
        </div>
    </div>

    <pre><code class="language-html">
&lt;div class=&quot;card relative p-5&quot;&gt;
    &lt;div class=&quot;static shadow-1 p-3&quot; style=&quot;min-width: 300px; min-height: 200px;&quot;&gt;
        &lt;p class=&quot;font-bold text-blue-500&quot;&gt;Static&lt;/p&gt;
        &lt;div class=&quot;absolute bottom-0 left-0 shadow-2 p-3&quot; style=&quot;min-width: 100px; min-height: 100px&quot;&gt;
            &lt;p class=&quot;font-bold text-blue-500&quot;&gt;Absolute&lt;/p&gt;
        &lt;/div&gt;
    &lt;/div&gt;
&lt;/div&gt;

</code></pre>

    <h5>Fixed</h5>
    <p>A fixed element is positioned relative to the viewport and always located in the same position even when the page is scrolled.</p>

    <div class="card overflow-hidden" style="height: 400px">
        <p class="font-bold">Window Review</p>
        <div class="relative border-round border-1 border-blue-500" style="height: 300px">
            <div class="absolute top-0 left-0 shadow-1 p-3 w-full font-bold text-blue-500">
                Fixed
            </div>
            <div class="absolute overflow-auto mt-7 p-3" style="height: 200px">
                <p class="text-blue-500">Scroll Part</p>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                    Vitae sapien pellentesque habitant morbi tristique senectus et netus. Vitae proin sagittis nisl rhoncus mattis.
                    Maecenas pharetra convallis posuere morbi leo urna molestie. At in tellus integer feugiat scelerisque.
                    Adipiscing elit duis tristique sollicitudin nibh sit amet commodo. Luctus accumsan tortor posuere ac ut.
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                    Vitae sapien pellentesque habitant morbi tristique senectus et netus. Vitae proin sagittis nisl rhoncus mattis.
                    Maecenas pharetra convallis posuere morbi leo urna molestie. At in tellus integer feugiat scelerisque.
                    Adipiscing elit duis tristique sollicitudin nibh sit amet commodo. Luctus accumsan tortor posuere ac ut.
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                    Vitae sapien pellentesque habitant morbi tristique senectus et netus. Vitae proin sagittis nisl rhoncus mattis.
                    Maecenas pharetra convallis posuere morbi leo urna molestie. At in tellus integer feugiat scelerisque.
                    Adipiscing elit duis tristique sollicitudin nibh sit amet commodo. Luctus accumsan tortor posuere ac ut.
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                    Vitae sapien pellentesque habitant morbi tristique senectus et netus. Vitae proin sagittis nisl rhoncus mattis.
                    Maecenas pharetra convallis posuere morbi leo urna molestie. At in tellus integer feugiat scelerisque.
                    Adipiscing elit duis tristique sollicitudin nibh sit amet commodo. Luctus accumsan tortor posuere ac ut.
                </p>
            </div>
        </div>
    </div>

    <pre><code class="language-html">
&lt;div class=&quot;card overflow-hidden&quot; style=&quot;height: 400px&quot;&gt;
    &lt;p class=&quot;font-bold&quot;&gt;Window Review&lt;/p&gt;
    &lt;div class=&quot;relative border-round border-1 border-blue-500&quot; style=&quot;height: 300px&quot;&gt;
        &lt;div class=&quot;absolute top-0 left-0 shadow-1 p-3 w-full font-bold text-blue-500&quot;&gt;
            Fixed
        &lt;/div&gt;
        &lt;div class=&quot;absolute overflow-auto mt-7 p-3&quot; style=&quot;height: 200px&quot;&gt;
            &lt;p class=&quot;text-blue-500&quot;&gt;Scroll Part&lt;/p&gt;
            &lt;p&gt;
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                Vitae sapien pellentesque habitant morbi tristique senectus et netus. Vitae proin sagittis nisl rhoncus mattis.
                Maecenas pharetra convallis posuere morbi leo urna molestie. At in tellus integer feugiat scelerisque.
                Adipiscing elit duis tristique sollicitudin nibh sit amet commodo. Luctus accumsan tortor posuere ac ut.
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                Vitae sapien pellentesque habitant morbi tristique senectus et netus. Vitae proin sagittis nisl rhoncus mattis.
                Maecenas pharetra convallis posuere morbi leo urna molestie. At in tellus integer feugiat scelerisque.
                Adipiscing elit duis tristique sollicitudin nibh sit amet commodo. Luctus accumsan tortor posuere ac ut.
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                Vitae sapien pellentesque habitant morbi tristique senectus et netus. Vitae proin sagittis nisl rhoncus mattis.
                Maecenas pharetra convallis posuere morbi leo urna molestie. At in tellus integer feugiat scelerisque.
                Adipiscing elit duis tristique sollicitudin nibh sit amet commodo. Luctus accumsan tortor posuere ac ut.
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                Vitae sapien pellentesque habitant morbi tristique senectus et netus. Vitae proin sagittis nisl rhoncus mattis.
                Maecenas pharetra convallis posuere morbi leo urna molestie. At in tellus integer feugiat scelerisque.
                Adipiscing elit duis tristique sollicitudin nibh sit amet commodo. Luctus accumsan tortor posuere ac ut.
            &lt;/p&gt;
        &lt;/div&gt;
    &lt;/div&gt;
&lt;/div&gt;

</code></pre>

    <h5>Relative</h5>
    <p>A relative positioned element is displayed relative to its original position. Setting the top, left, right and bottom properties can be used to adjust the position of the element.</p>

    <div class="card relative p-5">
        <div class="relative shadow-1 p-3" style="min-width: 300px; min-height: 200px;">
            <p class="font-bold text-blue-500">Relative</p>
            <div class="absolute bottom-0 left-0 shadow-2 p-3" style="min-width: 100px; min-height: 100px">
                <p class="font-bold text-blue-500">Absolute</p>
            </div>
        </div>
    </div>

    <pre><code class="language-html">
&lt;div class=&quot;card relative p-5&quot;&gt;
    &lt;div class=&quot;relative shadow-1 p-3&quot; style=&quot;min-width: 300px; min-height: 200px;&quot;&gt;
        &lt;p class=&quot;font-bold text-blue-500&quot;&gt;Relative&lt;/p&gt;
        &lt;div class=&quot;absolute bottom-0 left-0 shadow-2 p-3&quot; style=&quot;min-width: 100px; min-height: 100px&quot;&gt;
            &lt;p class=&quot;font-bold text-blue-500&quot;&gt;Absolute&lt;/p&gt;
        &lt;/div&gt;
    &lt;/div&gt;
&lt;/div&gt;

</code></pre>

    <h5>Absolute</h5>
    <p>An absolute positioned element is displayed relative to the nearest positioned element, if there is none then it is positioned according to the document.</p>

    <div class="card p-5">
        <p class="font-bold">Static Position</p>
        <div class="relative shadow-1 p-3">
            <p class="font-bold text-blue-500">Relative</p>
            <div class="static shadow-2 p-3" style="min-width: 300px; min-height: 200px;">
                <p class="font-bold text-blue-500">Static</p>
                <div class="static bottom-0 left-0 shadow-3 p-3" style="min-width: 100px; min-height: 100px">
                    <p class="font-bold text-blue-500">Static</p>
                </div>
            </div>
        </div>

        <p class="font-bold">Absolute Position</p>
        <div class="relative shadow-1 p-3 mt-3">
            <p class="font-bold text-blue-500">Relative</p>
            <div class="static shadow-2 p-3" style="min-width: 300px; min-height: 200px;">
                <p class="font-bold text-blue-500">Static</p>
                <div class="absolute bottom-0 left-0 shadow-3 p-3" style="min-width: 100px; min-height: 100px">
                    <p class="font-bold text-blue-500">Absolute</p>
                </div>
            </div>
        </div>
    </div>

    <pre><code class="language-html">
&lt;div class=&quot;card p-5&quot;&gt;
    &lt;p class=&quot;font-bold&quot;&gt;Static Position&lt;/p&gt;
    &lt;div class=&quot;relative shadow-1 p-3&quot;&gt;
        &lt;p class=&quot;font-bold text-blue-500&quot;&gt;Relative&lt;/p&gt;
        &lt;div class=&quot;static shadow-2 p-3&quot; style=&quot;min-width: 300px; min-height: 200px;&quot;&gt;
            &lt;p class=&quot;font-bold text-blue-500&quot;&gt;Static&lt;/p&gt;
            &lt;div class=&quot;static bottom-0 left-0 shadow-3 p-3&quot; style=&quot;min-width: 100px; min-height: 100px&quot;&gt;
                &lt;p class=&quot;font-bold text-blue-500&quot;&gt;Static&lt;/p&gt;
            &lt;/div&gt;
        &lt;/div&gt;
    &lt;/div&gt;

    &lt;p class=&quot;font-bold&quot;&gt;Absolute Position&lt;/p&gt;
    &lt;div class=&quot;relative shadow-1 p-3 mt-3&quot;&gt;
        &lt;p class=&quot;font-bold text-blue-500&quot;&gt;Relative&lt;/p&gt;
        &lt;div class=&quot;static shadow-2 p-3&quot; style=&quot;min-width: 300px; min-height: 200px;&quot;&gt;
            &lt;p class=&quot;font-bold text-blue-500&quot;&gt;Static&lt;/p&gt;
            &lt;div class=&quot;absolute bottom-0 left-0 shadow-3 p-3&quot; style=&quot;min-width: 100px; min-height: 100px&quot;&gt;
                &lt;p class=&quot;font-bold text-blue-500&quot;&gt;Absolute&lt;/p&gt;
            &lt;/div&gt;
        &lt;/div&gt;
    &lt;/div&gt;
&lt;/div&gt;

</code></pre>

    <h5>Sticky</h5>
    <p>A sticky element is dynamically positioned based on the scroll position and toggles between the relative and fixed behavior.</p>

    <div class="card overflow-hidden" style="height: 400px">
        <div class="overflow-auto border-round border-1 border-blue-500" style="height: 300px">
            <div>
                <div class="sticky top-0 font-bold text-blue-500 bg-blue-100 p-3">
                    Sticky Title 1
                </div>
                <p class="p-3">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                    Vitae sapien pellentesque habitant morbi tristique senectus et netus. Vitae proin sagittis nisl rhoncus mattis.
                    Maecenas pharetra convallis posuere morbi leo urna molestie. At in tellus integer feugiat scelerisque.
                    Adipiscing elit duis tristique sollicitudin nibh sit amet commodo. Luctus accumsan tortor posuere ac ut.
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                    Vitae sapien pellentesque habitant morbi tristique senectus et netus. Vitae proin sagittis nisl rhoncus mattis.
                    Maecenas pharetra convallis posuere morbi leo urna molestie. At in tellus integer feugiat scelerisque.
                    Adipiscing elit duis tristique sollicitudin nibh sit amet commodo. Luctus accumsan tortor posuere ac ut.
                </p>
            </div>
            <div>
                <div class="sticky top-0 font-bold text-blue-500 bg-blue-100 p-3">
                    Sticky Title 2
                </div>
                <p class="p-3">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                    Vitae sapien pellentesque habitant morbi tristique senectus et netus. Vitae proin sagittis nisl rhoncus mattis.
                    Maecenas pharetra convallis posuere morbi leo urna molestie. At in tellus integer feugiat scelerisque.
                    Adipiscing elit duis tristique sollicitudin nibh sit amet commodo. Luctus accumsan tortor posuere ac ut.
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                    Vitae sapien pellentesque habitant morbi tristique senectus et netus. Vitae proin sagittis nisl rhoncus mattis.
                    Maecenas pharetra convallis posuere morbi leo urna molestie. At in tellus integer feugiat scelerisque.
                    Adipiscing elit duis tristique sollicitudin nibh sit amet commodo. Luctus accumsan tortor posuere ac ut.
                </p>
            </div>
            <div>
                <div class="sticky top-0 font-bold text-blue-500 bg-blue-100 p-3">
                    Sticky Title 3
                </div>
                <p class="p-3">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                    Vitae sapien pellentesque habitant morbi tristique senectus et netus. Vitae proin sagittis nisl rhoncus mattis.
                    Maecenas pharetra convallis posuere morbi leo urna molestie. At in tellus integer feugiat scelerisque.
                    Adipiscing elit duis tristique sollicitudin nibh sit amet commodo. Luctus accumsan tortor posuere ac ut.
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                    Vitae sapien pellentesque habitant morbi tristique senectus et netus. Vitae proin sagittis nisl rhoncus mattis.
                    Maecenas pharetra convallis posuere morbi leo urna molestie. At in tellus integer feugiat scelerisque.
                    Adipiscing elit duis tristique sollicitudin nibh sit amet commodo. Luctus accumsan tortor posuere ac ut.
                </p>
            </div>
            <div>
                <div class="sticky top-0 font-bold text-blue-500 bg-blue-100 p-3">
                    Sticky Title 4
                </div>
                <p class="p-3">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                    Vitae sapien pellentesque habitant morbi tristique senectus et netus. Vitae proin sagittis nisl rhoncus mattis.
                    Maecenas pharetra convallis posuere morbi leo urna molestie. At in tellus integer feugiat scelerisque.
                    Adipiscing elit duis tristique sollicitudin nibh sit amet commodo. Luctus accumsan tortor posuere ac ut.
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                    Vitae sapien pellentesque habitant morbi tristique senectus et netus. Vitae proin sagittis nisl rhoncus mattis.
                    Maecenas pharetra convallis posuere morbi leo urna molestie. At in tellus integer feugiat scelerisque.
                    Adipiscing elit duis tristique sollicitudin nibh sit amet commodo. Luctus accumsan tortor posuere ac ut.
                </p>
            </div>
            <div>
                <div class="sticky top-0 font-bold text-blue-500 bg-blue-100 p-3">
                    Sticky Title 5
                </div>
                <p class="p-3">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                    Vitae sapien pellentesque habitant morbi tristique senectus et netus. Vitae proin sagittis nisl rhoncus mattis.
                    Maecenas pharetra convallis posuere morbi leo urna molestie. At in tellus integer feugiat scelerisque.
                    Adipiscing elit duis tristique sollicitudin nibh sit amet commodo. Luctus accumsan tortor posuere ac ut.
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                    Vitae sapien pellentesque habitant morbi tristique senectus et netus. Vitae proin sagittis nisl rhoncus mattis.
                    Maecenas pharetra convallis posuere morbi leo urna molestie. At in tellus integer feugiat scelerisque.
                    Adipiscing elit duis tristique sollicitudin nibh sit amet commodo. Luctus accumsan tortor posuere ac ut.
                </p>
            </div>
        </div>
    </div>

    <pre><code class="language-html">
&lt;div class=&quot;card overflow-hidden&quot; style=&quot;height: 400px&quot;&gt;
    &lt;div class=&quot;overflow-auto border-round border-1 border-blue-500&quot; style=&quot;height: 300px&quot;&gt;
        &lt;div&gt;
            &lt;div class=&quot;sticky top-0 font-bold text-blue-500 bg-blue-100 p-3&quot;&gt;
                Sticky Title 1
            &lt;/div&gt;
            &lt;p class=&quot;p-3&quot;&gt;
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                Vitae sapien pellentesque habitant morbi tristique senectus et netus. Vitae proin sagittis nisl rhoncus mattis.
                Maecenas pharetra convallis posuere morbi leo urna molestie. At in tellus integer feugiat scelerisque.
                Adipiscing elit duis tristique sollicitudin nibh sit amet commodo. Luctus accumsan tortor posuere ac ut.
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                Vitae sapien pellentesque habitant morbi tristique senectus et netus. Vitae proin sagittis nisl rhoncus mattis.
                Maecenas pharetra convallis posuere morbi leo urna molestie. At in tellus integer feugiat scelerisque.
                Adipiscing elit duis tristique sollicitudin nibh sit amet commodo. Luctus accumsan tortor posuere ac ut.
            &lt;/p&gt;
        &lt;/div&gt;
        &lt;div&gt;
            &lt;div class=&quot;sticky top-0 font-bold text-blue-500 bg-blue-100 p-3&quot;&gt;
                Sticky Title 2
            &lt;/div&gt;
            &lt;p class=&quot;p-3&quot;&gt;
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                Vitae sapien pellentesque habitant morbi tristique senectus et netus. Vitae proin sagittis nisl rhoncus mattis.
                Maecenas pharetra convallis posuere morbi leo urna molestie. At in tellus integer feugiat scelerisque.
                Adipiscing elit duis tristique sollicitudin nibh sit amet commodo. Luctus accumsan tortor posuere ac ut.
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                Vitae sapien pellentesque habitant morbi tristique senectus et netus. Vitae proin sagittis nisl rhoncus mattis.
                Maecenas pharetra convallis posuere morbi leo urna molestie. At in tellus integer feugiat scelerisque.
                Adipiscing elit duis tristique sollicitudin nibh sit amet commodo. Luctus accumsan tortor posuere ac ut.
            &lt;/p&gt;
        &lt;/div&gt;
        &lt;div&gt;
            &lt;div class=&quot;sticky top-0 font-bold text-blue-500 bg-blue-100 p-3&quot;&gt;
                Sticky Title 3
            &lt;/div&gt;
            &lt;p class=&quot;p-3&quot;&gt;
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                Vitae sapien pellentesque habitant morbi tristique senectus et netus. Vitae proin sagittis nisl rhoncus mattis.
                Maecenas pharetra convallis posuere morbi leo urna molestie. At in tellus integer feugiat scelerisque.
                Adipiscing elit duis tristique sollicitudin nibh sit amet commodo. Luctus accumsan tortor posuere ac ut.
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                Vitae sapien pellentesque habitant morbi tristique senectus et netus. Vitae proin sagittis nisl rhoncus mattis.
                Maecenas pharetra convallis posuere morbi leo urna molestie. At in tellus integer feugiat scelerisque.
                Adipiscing elit duis tristique sollicitudin nibh sit amet commodo. Luctus accumsan tortor posuere ac ut.
            &lt;/p&gt;
        &lt;/div&gt;
        &lt;div&gt;
            &lt;div class=&quot;sticky top-0 font-bold text-blue-500 bg-blue-100 p-3&quot;&gt;
                Sticky Title 4
            &lt;/div&gt;
            &lt;p class=&quot;p-3&quot;&gt;
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                Vitae sapien pellentesque habitant morbi tristique senectus et netus. Vitae proin sagittis nisl rhoncus mattis.
                Maecenas pharetra convallis posuere morbi leo urna molestie. At in tellus integer feugiat scelerisque.
                Adipiscing elit duis tristique sollicitudin nibh sit amet commodo. Luctus accumsan tortor posuere ac ut.
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                Vitae sapien pellentesque habitant morbi tristique senectus et netus. Vitae proin sagittis nisl rhoncus mattis.
                Maecenas pharetra convallis posuere morbi leo urna molestie. At in tellus integer feugiat scelerisque.
                Adipiscing elit duis tristique sollicitudin nibh sit amet commodo. Luctus accumsan tortor posuere ac ut.
            &lt;/p&gt;
        &lt;/div&gt;
        &lt;div&gt;
            &lt;div class=&quot;sticky top-0 font-bold text-blue-500 bg-blue-100 p-3&quot;&gt;
                Sticky Title 5
            &lt;/div&gt;
            &lt;p class=&quot;p-3&quot;&gt;
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                Vitae sapien pellentesque habitant morbi tristique senectus et netus. Vitae proin sagittis nisl rhoncus mattis.
                Maecenas pharetra convallis posuere morbi leo urna molestie. At in tellus integer feugiat scelerisque.
                Adipiscing elit duis tristique sollicitudin nibh sit amet commodo. Luctus accumsan tortor posuere ac ut.
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                Vitae sapien pellentesque habitant morbi tristique senectus et netus. Vitae proin sagittis nisl rhoncus mattis.
                Maecenas pharetra convallis posuere morbi leo urna molestie. At in tellus integer feugiat scelerisque.
                Adipiscing elit duis tristique sollicitudin nibh sit amet commodo. Luctus accumsan tortor posuere ac ut.
            &lt;/p&gt;
        &lt;/div&gt;
    &lt;/div&gt;
&lt;/div&gt;

</code></pre>

    <h5>Responsive</h5>
    <p>Responsive alternatives are available for customizations based on screen size. Add the responsive breakpoint keyword followed by a semi-colon as a prefix such as <i>md:absolute</i> to use a responsive class.</p>
    <ul>
        <li><b>sm</b>: small screens e.g. phones</li>
        <li><b>md</b>: medium screens e.g. tablets</li>
        <li><b>lg</b>: large screens e.g. notebooks</li>
        <li><b>xl</b>: larger screens .e.g monitors</li>
    </ul>

    <div class="card relative p-3 md:p-5">
        <div class="static shadow-1 p-3" style="min-width: 300px; min-height: 200px;">
            <p class="font-bold text-blue-500">Static</p>
            <div class="static md:absolute bottom-0 left-0 shadow-2 p-3" style="min-width: 100px; min-height: 100px">
                <p class="font-bold text-blue-500">Absolute on medium screens / Static on small screens</p>
            </div>
        </div>
    </div>

    <pre><code class="language-html">
&lt;div class=&quot;card relative p-3 md:p-5&quot;&gt;
    &lt;div class=&quot;static shadow-1 p-3&quot; style=&quot;min-width: 300px; min-height: 200px;&quot;&gt;
        &lt;p class=&quot;font-bold text-blue-500&quot;&gt;Static&lt;/p&gt;
        &lt;div class=&quot;static md:absolute bottom-0 left-0 shadow-2 p-3&quot; style=&quot;min-width: 100px; min-height: 100px&quot;&gt;
            &lt;p class=&quot;font-bold text-blue-500&quot;&gt;Absolute on medium screens / Static on small screens&lt;/p&gt;
        &lt;/div&gt;
    &lt;/div&gt;
&lt;/div&gt;

</code></pre>
</div>
