---
layout: layout
permalink: /toprightbottomleft
---

<div>
    <h2>Top / Right / Bottom / Left</h2>
    <p>Controls the vertical and horizontal position of a positioned element.</p>

    <h5>Classes</h5>
    <div class="overflow-auto" style="max-height: 500px">
        <table class="doc-table">
            <thead>
            <tr>
                <th>Class</th>
                <th>Properties</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>top-auto</td>
                <td>top: auto;</td>
            </tr>
            <tr>
                <td>top-0</td>
                <td>top: 0;</td>
            </tr>
            <tr>
                <td>top-50</td>
                <td>top: 50%;</td>
            </tr>
            <tr>
                <td>top-100</td>
                <td>top: 100%;</td>
            </tr>
            <tr>
                <td>right-auto</td>
                <td>right: auto;</td>
            </tr>
            <tr>
                <td>right-0</td>
                <td>right: 0;</td>
            </tr>
            <tr>
                <td>right-50</td>
                <td>right: 50%;</td>
            </tr>
            <tr>
                <td>right-100</td>
                <td>right: 100%;</td>
            </tr>
            <tr>
                <td>bottom-auto</td>
                <td>bottom: auto;</td>
            </tr>
            <tr>
                <td>bottom-0</td>
                <td>bottom: 0;</td>
            </tr>
            <tr>
                <td>bottom-50</td>
                <td>bottom: 50%;</td>
            </tr>
            <tr>
                <td>bottom-100</td>
                <td>bottom: 100%;</td>
            </tr>
            <tr>
                <td>left-auto</td>
                <td>left: auto;</td>
            </tr>
            <tr>
                <td>left-0</td>
                <td>left: 0;</td>
            </tr>
            <tr>
                <td>left-50</td>
                <td>left: 50%;</td>
            </tr>
            <tr>
                <td>left-100</td>
                <td>left: 100%;</td>
            </tr>
            </tbody>
        </table>
    </div>

    <h5>Examples</h5>
    <div class="card flex flex-wrap align-items-center justify-content-center">
        <div class="relative bg-blue-50 shadow-1 p-3 m-3" style="width: 200px; height: 200px;">
            <div class="absolute top-0 left-0 bg-blue-100 text-blue-500 font-bold shadow-2 p-3 flex align-items-center justify-content-center" style="width: 50px; height: 50px">1</div>
        </div>
        <div class="relative bg-blue-50 shadow-1 p-3 m-3" style="width: 200px; height: 200px;">
            <div class="absolute top-50 left-50 bg-blue-100 text-blue-500 font-bold shadow-2 p-3 flex align-items-center justify-content-center" style="width: 50px; height: 50px">2</div>
        </div>
        <div class="relative bg-blue-50 shadow-1 p-3 m-3" style="width: 200px; height: 200px;">
            <div class="absolute top-0 right-0 bg-blue-100 text-blue-500 font-bold shadow-2 p-3 flex align-items-center justify-content-center" style="width: 50px; height: 50px">3</div>
        </div>
        <div class="relative bg-blue-50 shadow-1 p-3 m-3" style="width: 200px; height: 200px;">
            <div class="absolute bottom-0 left-0 bg-blue-100 text-blue-500 font-bold shadow-2 p-3 flex align-items-center justify-content-center" style="width: 50px; height: 50px">4</div>
        </div>
        <div class="relative bg-blue-50 shadow-1 p-3 m-3" style="width: 200px; height: 200px;">
            <div class="absolute bottom-50 right-50 bg-blue-100 text-blue-500 font-bold shadow-2 p-3 flex align-items-center justify-content-center" style="width: 50px; height: 50px">5</div>
        </div>
        <div class="relative bg-blue-50 shadow-1 p-3 m-3" style="width: 200px; height: 200px;">
            <div class="absolute bottom-0 right-0 bg-blue-100 text-blue-500 font-bold shadow-2 p-3 flex align-items-center justify-content-center" style="width: 50px; height: 50px">6</div>
        </div>
    </div>

    <pre><code class="language-html">
&lt;div class=&quot;card flex flex-wrap align-items-center justify-content-center&quot;&gt;
    &lt;div class=&quot;relative bg-blue-50 shadow-1 p-3 m-3&quot; style=&quot;width: 200px; height: 200px;&quot;&gt;
        &lt;div class=&quot;absolute top-0 left-0 bg-blue-100 text-blue-500 font-bold shadow-2 p-3 flex align-items-center justify-content-center&quot; style=&quot;width: 50px; height: 50px&quot;&gt;1&lt;/div&gt;
    &lt;/div&gt;
    &lt;div class=&quot;relative bg-blue-50 shadow-1 p-3 m-3&quot; style=&quot;width: 200px; height: 200px;&quot;&gt;
        &lt;div class=&quot;absolute top-50 left-50 bg-blue-100 text-blue-500 font-bold shadow-2 p-3 flex align-items-center justify-content-center&quot; style=&quot;width: 50px; height: 50px&quot;&gt;2&lt;/div&gt;
    &lt;/div&gt;
    &lt;div class=&quot;relative bg-blue-50 shadow-1 p-3 m-3&quot; style=&quot;width: 200px; height: 200px;&quot;&gt;
        &lt;div class=&quot;absolute top-0 right-0 bg-blue-100 text-blue-500 font-bold shadow-2 p-3 flex align-items-center justify-content-center&quot; style=&quot;width: 50px; height: 50px&quot;&gt;3&lt;/div&gt;
    &lt;/div&gt;
    &lt;div class=&quot;relative bg-blue-50 shadow-1 p-3 m-3&quot; style=&quot;width: 200px; height: 200px;&quot;&gt;
        &lt;div class=&quot;absolute bottom-0 left-0 bg-blue-100 text-blue-500 font-bold shadow-2 p-3 flex align-items-center justify-content-center&quot; style=&quot;width: 50px; height: 50px&quot;&gt;4&lt;/div&gt;
    &lt;/div&gt;
    &lt;div class=&quot;relative bg-blue-50 shadow-1 p-3 m-3&quot; style=&quot;width: 200px; height: 200px;&quot;&gt;
        &lt;div class=&quot;absolute bottom-50 right-50 bg-blue-100 text-blue-500 font-bold shadow-2 p-3 flex align-items-center justify-content-center&quot; style=&quot;width: 50px; height: 50px&quot;&gt;5&lt;/div&gt;
    &lt;/div&gt;
    &lt;div class=&quot;relative bg-blue-50 shadow-1 p-3 m-3&quot; style=&quot;width: 200px; height: 200px;&quot;&gt;
        &lt;div class=&quot;absolute bottom-0 right-0 bg-blue-100 text-blue-500 font-bold shadow-2 p-3 flex align-items-center justify-content-center&quot; style=&quot;width: 50px; height: 50px&quot;&gt;6&lt;/div&gt;
    &lt;/div&gt;
&lt;/div&gt;

</code></pre>

    <h5>Responsive</h5>
    <p>Responsive alternatives are available for customizations based on screen size. Add the responsive breakpoint keyword followed by a semi-colon as a prefix such as <i>md:top-0</i> to use a responsive class.</p>
    <ul>
        <li><b>sm</b>: small screens e.g. phones</li>
        <li><b>md</b>: medium screens e.g. tablets</li>
        <li><b>lg</b>: large screens e.g. notebooks</li>
        <li><b>xl</b>: larger screens e.g monitors</li>
    </ul>

    <div class="card flex flex-wrap align-items-center justify-content-center">
        <div class="relative bg-blue-50 shadow-1 p-3 m-3" style="width: 200px; height: 200px;">
            <div class="absolute md:top-0 md:left-0 top-50 left-50 bg-blue-100 text-blue-500 font-bold shadow-2 p-3 flex align-items-center justify-content-center" style="width: 50px; height: 50px">1</div>
        </div>
        <div class="relative bg-blue-50 shadow-1 p-3 m-3" style="width: 200px; height: 200px;">
            <div class="absolute md:bottom-0 md:right-0 bottom-50 right-50 bg-blue-100 text-blue-500 font-bold shadow-2 p-3 flex align-items-center justify-content-center" style="width: 50px; height: 50px">2</div>
        </div>
    </div>

    <pre><code class="language-html">
&lt;div class=&quot;card flex flex-wrap align-items-center justify-content-center&quot;&gt;
    &lt;div class=&quot;relative bg-blue-50 shadow-1 p-3 m-3&quot; style=&quot;width: 200px; height: 200px;&quot;&gt;
        &lt;div class=&quot;absolute md:top-0 md:left-0 top-50 left-50 bg-blue-100 text-blue-500 font-bold shadow-2 p-3 flex align-items-center justify-content-center&quot; style=&quot;width: 50px; height: 50px&quot;&gt;1&lt;/div&gt;
    &lt;/div&gt;
    &lt;div class=&quot;relative bg-blue-50 shadow-1 p-3 m-3&quot; style=&quot;width: 200px; height: 200px;&quot;&gt;
        &lt;div class=&quot;absolute md:bottom-0 md:right-0 bottom-50 right-50 bg-blue-100 text-blue-500 font-bold shadow-2 p-3 flex align-items-center justify-content-center&quot; style=&quot;width: 50px; height: 50px&quot;&gt;2&lt;/div&gt;
    &lt;/div&gt;
&lt;/div&gt;

</code></pre>
</div>
