.layout-footer {
    height: 95px;
    border: 1px solid #DEE2E6;
    background-color: #FFFFFF;
    padding: 2rem 3rem;

    .layout-footer-left {
        img {
            height: 40px;
        }
    }

    .layout-footer-right {
        a {
            color: #20272A;

            i {
                font-size: 18px;
            }
        }
    }
}
