.layout-footer {
    height: 95px;
    border-top: 1px solid var(--surface-border);
    background-color: var(--surface-card);
    padding: 2rem 3rem;

    .layout-footer-left {
        img {
            height: 40px;
        }
    }

    .layout-footer-right {
        a {
            color: var(--text-color);

            i {
                font-size: 18px;
            }
        }
    }
}

