.home-page {
    .hero {
        background: $heroBgColor;
        color: $heroTextColor;
        height: auto;
        padding: 36px;

        > .grid {
            height: 100%;
        }

        h1 {
            color: var(--text-color);
        }

        p {
            font-size: 1.1rem;
            color: var(--text-color-secondary);
        }

        img {
            max-height: 400px;
        }

        .hero-npm {
            background: var(--surface-card);
            border: 1.5px solid var(--surface-border);
            border-radius: 5px;
            width: 100%;
            max-width: 480px;
            margin-top: 2rem;
            padding: .5rem;
            box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.1);

            > input {
                background: var(--surface-card);
                border: 0 none;
                font-family: SFMono-Regular,Consolas,Liberation Mono,Menlo,monospace;
                font-size: 1.1rem;
                color: var(--text-color);
                width: 100%;
                outline: 0 none;
            }

            > .copied-text {
                font-family: SFMono-Regular,Consolas,Liberation Mono,Menlo,monospace;
                font-size: 1.1rem;
                display: none;
                color: var(--text-color);
            }

            > .copy {
                font-size: 1rem;
                background: var(--surface-100);  //copy button color??
                color: var(--text-color);
                font-weight: 500;
                border-radius: 4px;
                border: 0 none;
                padding: .5rem;
                position: relative;

                &:hover {
                    cursor: pointer;
                    text-decoration: none;
                }
            }
        }

        .hero-links {
            a {
                color: $linkColor;
                font-size: 1.1rem;

                &:hover {
                    color: $linkColor;
                }
            }
        }
    }

    .content-wrapper {
        padding: 2.5rem 1rem 1rem 1rem;

        .sub-text {
            color: var(--text-color-secondary);
        }

        .feature-boxes {
            margin-bottom: 1rem;

            .feature-box {
                border-radius: 2px;
                min-height: 200px;
                padding: 1.5rem;

                &.utility {
                    background: linear-gradient(158.84deg, rgba(97, 213, 228, 0.28) 11.11%, rgba(255, 255, 255, 0) 86.05%);
                }

                &.grid-system {
                    background: linear-gradient(158.84deg, rgba(249, 174, 97, 0.28) 11.11%, rgba(255, 255, 255, 0) 86.05%);

                }

                &.flexbox {
                    background: linear-gradient(158.84deg, rgba(156, 174, 183, 0.28) 11.11%, rgba(255, 255, 255, 0) 86.05%);

                }

                &.spacing {
                    background: linear-gradient(158.84deg, rgba(194, 121, 206, 0.28) 11.11%, rgba(255, 255, 255, 0) 86.05%);
                }

                &.elevation {
                    background: linear-gradient(158.84deg, rgba(97, 190, 181, 0.28) 11.11%, rgba(255, 255, 255, 0) 86.05%);

                }

                &.font {
                    background: linear-gradient(158.84deg, rgba(117, 190, 248, 0.28) 11.11%, rgba(255, 255, 255, 0) 86.05%);

                }

                &.sizing {
                    background: linear-gradient(158.84deg, rgba(253, 216, 125, 0.28) 11.11%, rgba(255, 255, 255, 0) 86.05%);

                }

                &.color {
                    background: linear-gradient(158.84deg, rgba(223, 227, 231, 0.28) 11.11%, rgba(255, 255, 255, 0) 86.05%);

                }

                &.responsive {
                    background: linear-gradient(158.84deg, rgba(144, 205, 147, 0.28) 11.11%, rgba(255, 255, 255, 0) 86.05%);

                }

                &.form {
                    background: linear-gradient(158.84deg, rgba(156, 174, 183, 0.28) 11.11%, rgba(255, 255, 255, 0) 86.05%);

                }

                &.icons {
                    background: linear-gradient(158.84deg, rgba(136, 147, 209, 0.28) 11.11%, rgba(255, 255, 255, 0) 86.05%);

                }
            }
        }
    }

    .users {
        border-top: 1px solid var(--surface-border);
    }
}

@media screen and (max-width: 960px) {
    .home-page {
        .hero {
            img {
                max-width: 100%;
            }
        }
    }
}

