.home-page {
    .hero {
        background: $heroBgColor;
        color: $heroTextColor;
        height: auto;
        padding: 36px;

        > .grid {
            height: 100%;
        }

        h1 {
            color: #313233;
        }

        p {
            font-size: 1.25rem;
            color: #6C757D;
        }

        img {
            max-height: 400px;
        }

        .hero-npm {
            background: #ffffff;
            border: 1.5px solid #FFFFFF;
            border-radius: 5px;
            width: 100%;
            max-width: 480px;
            margin-top: 2rem;
            padding: .5rem;
            box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.1);

            > input {
                background: #ffffff;
                border: 0 none;
                font-family: SFMono-Regular,Consolas,Liberation Mono,Menlo,monospace;
                font-size: 1.1rem;
                color: #6C757D;
                width: 100%;
                outline: 0 none;
            }

            > .copied-text {
                font-family: SFMono-Regular,Consolas,Liberation Mono,Menlo,monospace;
                font-size: 1.1rem;
                display: none;
                color: #6C757D;
            }

            > .copy {
                font-size: 1rem;
                background: #E9EEF7;
                color: #181B21;
                font-weight: 500;
                border-radius: 4px;
                border: 0 none;
                padding: .5rem;
                position: relative;

                &:hover {
                    cursor: pointer;
                    text-decoration: none;
                }

                .confetti-container {
                    position: absolute;
                    .confetti-effect {
                        position: absolute;
                    }
                }

                i {
                    position: absolute;
                    display: block;
                    width: 4px;
                    height: 4px;
                    top: 50%;
                    left: 50%;
                    margin: -2px 0 0 -2px;
                    opacity: var(--o, 0);
                    background: var(--b);
                    transform: translate(var(--x), var(--y)) scale(.1);
                }

                &.animation {
                    .confetti-container {
                        .confetti-effect {
                            --s: .1;
                            --o: 0;
                        }
                    }
                }

                &.confetti {
                    i {
                        animation: confetti .6s ease-out forwards;
                    }
                }

                @keyframes confetti {
                    from {
                        transform: translate(0, 0);
                        opacity: 1;
                    }
                }
            }
        }

        .hero-links {
            a {
                color: $linkColor;
                font-size: 1.1rem;

                &:hover {
                    color: $linkColor;
                }
            }
        }
    }

    .content-wrapper {
        padding: 2.5rem 1rem 1rem 1rem;

        .sub-text {
            line-height: 1.5;
            color: var(--text-color-secondary);
        }

        .content {
            .header-text {
                font-size: 1.214em;
                color: #000000;
                opacity: .6;
            }
        }

        .feature-boxes {
            margin-bottom: 1rem;

            .feature-box {
                border-radius: 2px;
                min-height: 200px;
                padding: 1.5rem;

                &.utility {
                    background: linear-gradient(158.84deg, rgba(97, 213, 228, 0.28) 11.11%, rgba(255, 255, 255, 0) 86.05%);
                }

                &.grid-system {
                    background: linear-gradient(158.84deg, rgba(249, 174, 97, 0.28) 11.11%, rgba(255, 255, 255, 0) 86.05%);

                }

                &.flexbox {
                    background: linear-gradient(158.84deg, rgba(156, 174, 183, 0.28) 11.11%, rgba(255, 255, 255, 0) 86.05%);

                }

                &.spacing {
                    background: linear-gradient(158.84deg, rgba(194, 121, 206, 0.28) 11.11%, rgba(255, 255, 255, 0) 86.05%);
                }

                &.elevation {
                    background: linear-gradient(158.84deg, rgba(97, 190, 181, 0.28) 11.11%, rgba(255, 255, 255, 0) 86.05%);

                }

                &.font {
                    background: linear-gradient(158.84deg, rgba(117, 190, 248, 0.28) 11.11%, rgba(255, 255, 255, 0) 86.05%);

                }

                &.sizing {
                    background: linear-gradient(158.84deg, rgba(253, 216, 125, 0.28) 11.11%, rgba(255, 255, 255, 0) 86.05%);

                }

                &.color {
                    background: linear-gradient(158.84deg, rgba(223, 227, 231, 0.28) 11.11%, rgba(255, 255, 255, 0) 86.05%);

                }

                &.responsive {
                    background: linear-gradient(158.84deg, rgba(144, 205, 147, 0.28) 11.11%, rgba(255, 255, 255, 0) 86.05%);

                }

                &.form {
                    background: linear-gradient(158.84deg, rgba(156, 174, 183, 0.28) 11.11%, rgba(255, 255, 255, 0) 86.05%);

                }

                &.icons {
                    background: linear-gradient(158.84deg, rgba(136, 147, 209, 0.28) 11.11%, rgba(255, 255, 255, 0) 86.05%);

                }
            }
        }
    }

    .users {
        border-top: 1px solid var(--surface-border);
    }
}

@media screen and (max-width: 960px) {
    .home-page {
        .hero {
            img {
                max-width: 100%;
            }
        }
    }
}
