.layout-menu-wrapper {
    position: fixed;
    width: 250px;
    height: 100%;
    top: 70px;
    left: 0;
    z-index: 98;
    background-color: var(--surface-card);
    border-right: 1px solid var(--surface-border);
    transition: transform .4s cubic-bezier(.05,.74,.2,.99);

    .layout-menu {
        overflow-y: auto;
        height: 100%;
        margin: 0;
        margin-top: 1rem;
        padding: 0;
        list-style: none;
        padding-bottom: 120px;

        li {
            padding: 0 21px;

            > div, > a {
                display: none;
            }

            .menuitem-root-text {
                padding: 7px 0;
                font-weight: 700;
                letter-spacing: 0.04em;
                font-size: 14px;
                text-transform: uppercase;
            }

            a {
                padding: 7px;
                color: var(--text-color);
                user-select: none;
                cursor: pointer;
                border-radius: 4px;
                font-size: 14px;

                &:hover {
                    color: var(--text-color);
                    text-decoration: none;
                    background-color: var(--surface-100); //menu item hover??
                }
            }

            &.active-menuitem {
                a {
                    color: var(--primary-color);
                    font-weight: 500;
                }
            }
        }
    }
}

@media screen and (max-width: 960px) {
    .layout-menu-wrapper {
        transform: translateX(-100%);

        &.active {
            transform: translateX(0%);
            z-index: 999;

            .layout-menu {
                padding-bottom: 120px;
            }
        }
    }
}
