.layout-topbar {
    width: 100%;
    height: 70px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99;
    padding: 0 28px;
    background: var(--surface-card);
    box-shadow: rgba(0, 0, 0, 0.03) 0px 4px 10px, rgba(0, 0, 0, 0.06) 0px 0px 2px, rgba(0, 0, 0, 0.12) 0px 2px 6px;

    .mobile-menu-wrapper {
        display: none;
        align-items: center;
        justify-content: space-between;

        .mobile-button {
            display: block;
            color: var(--text-color);
            font-size: 2rem;
            padding: .75rem;
            cursor: pointer;
            @include transition(color .2s);

            &:hover {
                color: var(--primary-color);
            }
        }

        .mobile-search-button {
            display: block;
            padding: .25rem;
            font-size: 2rem;
            cursor: pointer;
            text-decoration: none;
            background: var(--surface-card);
            color: var(--text-color);

            &:hover {
                color: var(--primary-color);
            }
        }
    }

    .layout-topbar-left {
        height: 100%;
        display: flex;
        align-items: center;

        .search-wrapper {
            > .inputfield-container {
                display: inline-block;
            }

            .inputfield-container {
                .left-icon {
                    margin-top: -.5rem;
                    left: .5rem;
                }

                .right-icon {
                    margin-top: -.8rem;
                    right: .5rem;
                    font-family: var(--font-family);
                    border-radius: 4px;
                    padding: .25rem;

                    div {
                        margin-right: 4px;
                        margin-bottom: 2px;
                    }
                }
            }

            .inputfield {
                font-size: 1rem;
                color: var(--text-color);
                background: var(--surface-overlay);
                padding: 0.5rem 0.5rem;
                border: 1px solid var(--surface-border);
                appearance: none;
                border-radius: 3px;
                
                &:focus {
                    outline: 0 none;
                    outline-offset: 0;
                    box-shadow: 0 0 0 0.2rem #a6d5fa;
                    border-color: var(--primary-color);
                }
            }

            .search-mask {
                display: none;
                position: fixed;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                flex-direction: column;
                align-items: center;
                backdrop-filter: blur(1px);
                background-color: rgba(0,0,0,0.6);
                transition-property: background-color;

                &.active-mask {
                    display: flex;
                    z-index: 100;
                }

                .search-container {
                    min-width: 50%;
                    position: absolute;
                    top: 70px;

                    .inputfield {
                        min-height: 3rem;
                        border-radius: 10px;
                    }

                    ul {
                        min-width: 12rem;
                        pointer-events: auto;
                        z-index: 101;
                        border-radius: 10px;
                        border-top-left-radius: 0;
                        border-top-right-radius: 0;

                        li {
                            padding: .25rem 1rem;
                            display: flex;

                            &:first-child {
                                padding-top: 1rem;
                            }

                            &:last-child {
                                padding-bottom: 1rem;
                            }

                            a {
                                padding: 1rem .5rem;
                                text-decoration: none;
                                width: 100%;
                                font-weight: bold;
                                border-radius: var(--border-radius);
                                background-color: var(--surface-card);
                                color: var(--text-color);

                                &:hover {
                                    background-color: var(--surface-100);
                                    color: var(--blue-400);
                                }

                                &:focus-visible {
                                    outline-color: var(--blue-400);
                                    background-color: var(--surface-100);
                                    color: var(--blue-400);
                                }

                            }
                        }
                    }
                }
            }
        }
    }

    .layout-topbar-right {
        height: 100%;
        display: flex;
        align-items: center;

        > ul {
            height: 100%;
            margin: 0;
            padding: 0;

            li {
                height: 100%;
                display: flex;
                align-items: center;

                a {
                    color: var(--text-color);
                    height: 100%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    min-width: 80px;
                    text-decoration: none;
                    transition: border-color .2s;
                    border-bottom: 2px solid transparent;

                    &:hover {
                        border-color: var(--primary-color);
                    }
                }

                .scheme-button {
                    padding: 0;
                    margin-left: 1rem;
                    background: var(--surface-900);
                    color: var(--surface-0);
                    border: 0 none;
                    border-radius: 50%;
                    width: 2rem;
                    height: 2rem;
                    display: flex;
                    align-items: center;
                    justify-content: center;

                    &:hover {
                        background: var(--surface-800);
                    }
                    &:active {
                        background: var(--surface-800);
                    }
                }
            }
        }

        .mobile-topbar-menu-wrapper {
            display: none;

            .mobile-topbar-menu {
                position: fixed;
                top: 70px;
                left: 0;
                width: 100%;
                height: 40px;
                margin: 0px;
                display: flex;
                background-color: var(--surface-card);
                user-select: none;
                box-shadow: rgba(0, 0, 0, 0.03) 0px 4px 10px, rgba(0, 0, 0, 0.06) 0px 0px 2px, rgba(0, 0, 0, 0.12) 0px 2px 6px;

                li {
                    height: 40px;
                    line-height: 40px;
                    width: 25%;

                    a {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        padding-bottom: 0px;
                        height: 40px;
                        line-height: 38px;
                        width: 100%;
                        min-width: auto;
                        color: var(--text-color);
                        @include transition(color .2s);

                        &:hover {
                            color: var(--primary-color);
                        }
                    }

                    &.start {
                        border-top: 1px var(--surface-border) solid;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 960px) {
    .layout-topbar {
        padding: 0 1rem;

        .mobile-menu-wrapper {
            display: flex;
            flex-grow: 1;
        }

        .layout-topbar-left {
            > a {
                display: none;
            }

            .search-wrapper {
                > .inputfield-container {
                    display: none;
                }

                .search-mask {
                    .search-container {
                        width: 80%;
                        top: 110px;
                    }
                }
            }
        }

        .layout-topbar-right {
            > ul {
                li:not(:last-child) {
                    display: none !important;
                }

                li:last-child {
                    position: fixed;
                    bottom: 2rem;
                    right: 2rem;
                    height: auto;

                    .scheme-button {
                        margin-left: 0;
                        width: 3rem;
                        height: 3rem;
                        font-size: 1.5rem;
                        cursor: pointer;
                    }
                }
            }

            .mobile-topbar-menu-wrapper {
                display: block;
            }
        }
    }
}
