.layout-topbar {
    width: 100%;
    height: 70px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99;
    padding: 0 28px;
    background: var(--surface-card);
    box-shadow: rgba(0, 0, 0, 0.03) 0px 4px 10px, rgba(0, 0, 0, 0.06) 0px 0px 2px, rgba(0, 0, 0, 0.12) 0px 2px 6px;

    .mobile-menu-wrapper {
        display: none;

        .mobile-button {
            display: block;
            color: var(--text-color);
            font-size: 2rem;
            padding: .75rem;
            cursor: pointer;
            @include transition(color .2s);

            &:hover {
                color: var(--primary-color);
            }
        }
    }

    .layout-topbar-left {
        height: 100%;
        display: flex;
        align-items: center;

        .inputfield-container {
            .left-icon {
                margin-top: -.5rem;
                left: .5rem;
            }

            .right-icon {
                margin-top: -.5rem;
                right: .5rem;
                font-family: var(--font-family);
            }
        }

        .search-mask {
            display: none;
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            flex-direction: column;
            align-items: center;
            background-color: #9e9e9e85;
            transition-property: background-color;

            &.active-mask {
                display: flex;
                z-index: 100;
            }

            .search-container {
                min-width: 50%;
                position: absolute;
                top: 70px;

                .inputfield {
                    min-height: 3rem;
                }

                ul {
                    min-width: 12rem;
                    pointer-events: auto;
                    z-index: 101;

                    li {
                        padding: .25rem 1rem;
                        display: flex;

                        &:first-child {
                            padding-top: 1rem;
                        }

                        &:last-child {
                            padding-bottom: 1rem;
                        }

                        a {
                            padding: 1rem .5rem;
                            text-decoration: none;
                            width: 100%;
                            font-weight: bold;
                            border-radius: var(--border-radius);
                            color: var(--blue-400);
                            background-color: var(--surface-card);

                            &:hover {
                                background-color: var(--surface-100);
                                color: var(--text-color);
                            }

                        }
                    }
                }
            }
        }
    }

    .layout-topbar-right {
        height: 100%;
        display: flex;
        align-items: center;

        > ul {
            height: 100%;
            margin: 0;
            padding: 0;

            li {
                height: 100%;
                display: flex;
                align-items: center;

                a {
                    color: var(--text-color);
                    height: 100%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    min-width: 80px;
                    text-decoration: none;
                    transition: border-color .2s;
                    border-bottom: 2px solid transparent;

                    &:hover {
                        border-color: var(--primary-color);
                    }
                }

                .scheme-button {
                    padding: 0;
                    margin-right: 2rem;
                    background: var(--surface-card);
                    color: var(--text-color);
                    border-color: var(--gray-400);

                    &:hover {
                        background: var(--surface-ground);
                    }
                    &:active {
                        background: var(--surface-ground);
                    }
                }
            }
        }

        .mobile-topbar-menu-wrapper {
            display: none;

            .mobile-topbar-button {
                display: block;
                color: var(--text-color);
                font-size: 2rem;
                padding: .75rem;
                cursor: pointer;
                @include transition(color .2s);

                &:hover {
                    color: var(--primary-color);
                }
            }

            .mobile-topbar-menu {
                display: none;
                position: fixed;
                top: 64px;
                left: 0;
                width: 100%;
                background-color: var(--surface-card);
                user-select: none;
                box-shadow: rgba(0, 0, 0, 0.03) 0px 4px 10px, rgba(0, 0, 0, 0.06) 0px 0px 2px, rgba(0, 0, 0, 0.12) 0px 2px 6px;

                &.active {
                    display: block;
                }

                li {
                    display: flex;
                    justify-content: center;
                    padding: 1rem 2rem;

                    a {
                        color: var(--text-color);
                        @include transition(color .2s);

                        &:hover {
                            color: var(--primary-color);
                        }
                    }

                    &.start {
                        border-top: 1px var(--surface-border) solid;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 960px) {
    .layout-topbar {
        .mobile-menu-wrapper {
            display: block;
        }

        .layout-topbar-right {
            > ul {
                display: none !important;
            }

            .mobile-topbar-menu-wrapper {
                display: block;
            }
        }
    }
}

//Toggle Switch

.switch {
    position: relative;
    display: inline-block;
    width: 3rem;
    height: 1.75rem;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--surface-border);
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 30px;
}

.slider:before {
    position: absolute;
    content: "";
    width: 1.25rem;
    height: 1.25rem;
    left: 0.25rem;
    margin-top: -0.625rem;
    top: 50%;
    border-radius: 50%;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
    background-color: #2196F3;
}

input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
    -webkit-transform: translateX(1.25rem);
    -ms-transform: translateX(1.25rem);
    transform: translateX(1.25rem);
}
