.layout-topbar {
    width: 100%;
    height: 70px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99;
    padding: 0 28px;
    background: #FFFFFF;
    box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.14), 0px 2px 8px rgba(0, 0, 0, 0.07);

    .mobile-menu-wrapper {
        display: none;

        .mobile-button {
            display: block;
            color: #495057;
            font-size: 2rem;
            padding: .75rem;
            cursor: pointer;
            @include transition(color .2s);

            &:hover {
                color: #0078E3;
            }
        }
    }

    .layout-topbar-right {
        height: 100%;
        display: flex;
        align-items: center;

        > ul {
            height: 100%;
            margin: 0;
            padding: 0;

            li {
                height: 100%;
                display: flex;
                align-items: center;

                a {
                    color: #495057;
                    height: 100%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    min-width: 80px;
                    text-decoration: none;
                    border-bottom: 2px solid transparent;

                    &:hover {
                        border-color: #0078E3;
                    }
                }
            }
        }

        .mobile-topbar-menu-wrapper {
            display: none;

            .mobile-topbar-button {
                display: block;
                color: #495057;
                font-size: 2rem;
                padding: .75rem;
                cursor: pointer;
                @include transition(color .2s);

                &:hover {
                    color: #0078E3;
                }
            }

            .mobile-topbar-menu {
                display: none;
                position: fixed;
                top: 64px;
                left: 0;
                width: 100%;
                background-color: #ffffff;
                user-select: none;

                &.active {
                    display: block;
                }

                li {
                    display: flex;
                    justify-content: center;
                    padding: 1rem 2rem;

                    a {
                        color: #495057;
                        @include transition(color .2s);

                        &:hover {
                            color: #0078E3;
                        }
                    }

                    &.start {
                        border-top: 1px #25282E solid;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 960px) {
    .layout-topbar {
        .mobile-menu-wrapper {
            display: block;
        }

        .layout-topbar-right {
            > ul {
                display: none !important;
            }

            .mobile-topbar-menu-wrapper {
                display: block;
            }
        }
    }
}
