---
---
@import 'lib/themes/saga-blue.scss';

:root {
    --demo-bg-link: url("../images/tiny-checkers.png");
    --demo-bg-blue: var(--blue-50);
    --demo-bg-yellow: var(--yellow-50);
    --demo-bg-green: var(--green-50);
    --demo-bg-purple: var(--purple-50);
    --demo-bg-indigo: var(--indigo-50);
    --demo-bg-orange: var(--orange-50);
    --demo-bg-cyan: var(--cyan-50);
}