---
---
@import 'lib/themes/arya-blue.scss';

:root {
    --demo-bg-link: url("../images/tiny-checkers-dark.png");
    --demo-bg-blue: var(--blue-900);
    --demo-bg-yellow: var(--yellow-900);
    --demo-bg-green: var(--green-900);
    --demo-bg-purple: var(--purple-900);
    --demo-bg-indigo: var(--indigo-900);
    --demo-bg-orange: var(--orange-900);
    --demo-bg-cyan: var(--cyan-900);
}