.landing-animations-section {
    padding: 1rem 0;
    position: relative;
    border: none;
    &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        height: 2px;
        width: 100%;
        background: var(--landing-section-border);
    }

    .landing-animations-container {
        .landing-animations-content {
            margin-top: -7rem;
            background: var(--animations-text-backdrop);
            .landing-animations-title {
                max-width: 68rem;
                font-size: 6rem;
                background-image: linear-gradient(112.31deg, #00e08f 19.49%, #00a3ff 98.51%);
                background-size: auto auto;
                background-clip: border-box;
                background-size: 100% auto;
                background-clip: text;
                text-fill-color: transparent;
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
            }

            .landing-animations-subtitle {
                line-height: 140%;
                max-width: 68rem;
                color: var(--landing-text-color);
            }

            .linkbox-button {
                background: var(--linkbox-button-bg);
            }
        }
        .bg-animations-wrapper {
            position: absolute;
            width: 100%;
            opacity: 0.25;
            z-index: -1;
            top: 65px;

            .bg-animations {
                background: #00e08f;
                mix-blend-mode: screen;
                filter: blur(171.45px);
                width: 247px;
                height: 244px;
                display: block;

                &.bg-2 {
                    background: #3b82f6;
                }
            }
        }
        .landing-animations-cards {
            .animation-card {
                background: var(--animation-card-bg);
                backdrop-filter: blur(3.5px);
                border: var(--animation-card-border);
                border-radius: 16px;
                color: var(--cards-color-text-color);
            }
        }
    }
}

@media screen and (min-width: 1960px) {
    .landing-cards-container {
        width: 1650px !important;
        margin-left: auto !important;
        margin-right: auto !important;
    }
}

@media screen and (max-width: $landingBreakpointMD) {
    .landing-animations-section {
        .landing-animations-container {
            .landing-animations-cards {
                width: 100% !important;
                .animation-card {
                    min-height: 120px !important;
                }
            }
            .landing-animations-content {
                margin-top: -6rem;
            }
        }
    }
}

@media screen and (max-width: 560px) {
    .landing-animations-section {
        .landing-animations-container {
            .landing-animations-cards {
                .animation-card {
                    padding: 2rem !important;
                }
            }
        }
    }
}
