.landing-blocks-section {
    padding: 1rem 0;

    .landing-blocks-container {
        position: relative;
        z-index: 5;

        .landing-blocks-content {
            text-align: center;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            min-height: 692px;
            width: 100%;
            position: relative;
            z-index: 5;
            background: var(--blocks-backdrop);
            .landing-title {
                max-width: 68rem;
            }

            .landing-subtitle {
                text-align: center;
            }
        }

        .blocks-background {
            position: absolute;
            top: 0;
            left: 0;
            z-index: 0;
            width: 100%;
        }
        .blocks-marquees {
            max-height: 692px;
            overflow: hidden;
            display: flex;
            gap: 16rem;
            width: 100%;
            .marquee-wrapper {
                user-select: none;
                align-items: center;
                flex-shrink: 0;
                flex-direction: column;
                height: 100%;
                max-height: 692px;
                transform: matrix(0.87, 0.5, -0.87, 0.5, 0, 0);
                position: relative;
                top: -15rem;
                gap: 1rem;
                left: -7rem;
            }
            .marquee {
                flex-shrink: 0;
                display: flex;
                flex-direction: column;
                align-items: center;
                gap: 1rem;
                min-width: 100%;
                animation: scroll 100s linear infinite;
                > div {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    height: auto;

                    img {
                        height: auto;
                        width: 295.72px;
                    }
                }

                &.marquee-reverse {
                    animation-direction: reverse;
                    animation-delay: calc(30s / -2);
                }
            }
        }
    }
}

@keyframes scroll {
    0% {
        transform: translateY(0%);
    }

    100% {
        transform: translateY(calc(-100% - 3rem));
    }
}
