.landing-header-section {
    padding: 1.5rem 0 0;
    z-index: 999;
    position: relative;
    .landing-header-container {
        padding: 1rem 2rem;

        .landing-header-left {
            min-width: 17rem;
            .header-logo {
                img {
                    height: 3rem;
                }
            }
        }
        .landing-header-center {
            min-width: 17rem;
            .DocSearch-Button {
                width: 17rem !important;
                background: var(--docsearch-bg) !important;
                border: none !important;
                box-shadow: var(--docsearch-shadow) !important;
                color: var(--docsearch-color) !important;
                border-radius: 3.5px !important;
                .DocSearch-Button-Keys {
                    background: var(--secondary-button-bg) !important;
                    box-shadow: var(--secondaty-button-shadow) !important;
                    color: var(--secondaty-button-text-color) !important;
                    height: 1.7rem !important;

                    &:hover {
                        background: var(--secondary-button-hover-bg) !important;
                        color: var(--secondary-button-hover-text-color) !important;
                    }
                }
            }
        }

        .landing-header-right {
            min-width: 17rem;
            text-align: right;
            display: flex;
            justify-content: flex-end;

            .DocSearch-Button {
                display: none;
            }
            a {
                color: var(--landing-menu-item-text-color);
                font-size: 1rem;
                line-height: 1;
                padding: 0.25rem 0.5rem;
                transition: color 0.3s;

                &:hover {
                    color: var(--landing-menu-item-hover-text-color);
                }
            }
            ol {
                border-right: var(--landing-border);
                display: flex;

                .menu-overlay {
                    background-color: var(--blocks-selection-bg);
                    box-shadow: var(--blocks-selection-shadow);
                    border-radius: 7px;
                    padding: 6px;
                    position: relative;
                    left: -205%;
                    margin-top: 1rem;
                    &:before {
                        content: "";
                        position: absolute;
                        right: 45%;
                        bottom: 100%;
                        transform: translateX(-50%);
                        width: 0;
                        height: 0;
                        border-left: 6px solid transparent;
                        border-right: 6px solid transparent;
                        border-bottom: 6px solid var(--blocks-overlay-triangle-bg);
                    }
                    ul {
                        padding: 0;
                        display: flex;
                        gap: 6px;
                        margin: 0;
                        li {
                            color: var(--blocks-selection-item-text-color);
                            padding: 8px;
                            border-radius: 3px;
                            width: 100%;
                            text-align: center;
                            transition: all 0.3s;

                            a {
                                display: block;
                                white-space: nowrap;
                                text-align: center;
                                width: 60px;
                                img {
                                    height: 1.1rem;
                                }
                                span {
                                    display: block;
                                    color: var(--blocks-selection-item-text-color);
                                    font-weight: 400;
                                    transition: all 0.3s;
                                    font-size: 12.5px;
                                    margin-top: 4px;
                                }
                            }
                            &:hover {
                                box-shadow: var(--blocks-selection-item-shadow);
                                background-color: var(--blocks-selection-item-bg);
                                a {
                                    span {
                                        background-image: linear-gradient(112.31deg, #00e08f 19.49%, #00a3ff 98.51%);
                                        background-size: auto auto;
                                        background-clip: border-box;
                                        background-size: 100% auto;
                                        background-clip: text;
                                        text-fill-color: transparent;
                                        -webkit-background-clip: text;
                                        -webkit-text-fill-color: transparent;
                                    }
                                }
                            }
                        }
                    }
                }
            }
            button {
                color: var(--landing-menu-item-text-color);
                background-color: transparent;
                font-size: 1rem;
                line-height: 1;
                padding: 0.25rem 0.5rem;
                transition: color 0.3s;
                &:hover {
                    color: var(--landing-menu-item-hover-text-color);
                }
            }
        }
    }
}

@media screen and (min-width: 1960px) {
    .landing-header-container {
        width: 1650px !important;
        margin-left: auto !important;
        margin-right: auto !important;
    }
}
@media screen and (max-width: $landingBreakpointLG) {
    .landing-header-section {
        .landing-header-container {
            .landing-header-center {
                display: flex;
                justify-content: center;
                .DocSearch-Button {
                    width: 14rem !important;
                }
            }
        }
    }
}
@media screen and (max-width: $landingBreakpointMD) {
    .landing-header-section {
        nav {
            display: none;
        }

        .menu-button {
            border-left: var(--landing-border);
            padding-left: 0.75rem !important;
        }

        &.landing-header-active {
            background-color: var(--home-header-bg);
            backdrop-filter: blur(12px);
            height: 100vh;

            nav {
                display: block;
                position: fixed;
                left: 100px;
                top: 100px;
                width: 100%;
                padding: 2rem 1rem;
                top: 5rem;
                left: 0;
            }

            .menu-button {
                i:before {
                    content: "\e90b";
                }
            }
        }
        .landing-header-container {
            padding: 1rem;
            .DocSearch-Button {
                width: auto !important;
                background: transparent !important;
                border: none !important;
                box-shadow: none !important;
                color: var(--landing-menu-item-text-color) !important;
                border-radius: 0 !important;
                svg.DocSearch-Search-Icon {
                    color: var(--landing-menu-item-text-color) !important;
                    width: 1rem;
                    height: 1rem;
                }
                .DocSearch-Button-Keys {
                    display: none;
                }
            }
            .landing-header-center {
                min-width: auto;
                display: none;
                justify-content: flex-end;
            }
            .landing-header-right {
                min-width: auto;
                .DocSearch-Button {
                    display: block;
                }
            }
            .landing-header-left {
                min-width: auto;
                a {
                    img {
                        height: 2.2rem !important;
                    }
                }
            }
            .landing-header-right {
                ol {
                    .menu-overlay {
                        position: relative;
                        left: 0;
                        margin: 0 1rem;
                        margin-top: 0px;
                        max-width: 270px;
                        &:before {
                            display: none;
                        }
                        ul {
                            flex-wrap: wrap;
                            li {
                                color: var(--blocks-selection-item-text-color);
                                padding: 8px;
                                border-radius: 3px;
                                width: 100%;
                                text-align: center;
                                transition: all 0.3s;
                                width: auto;
                                a {
                                    display: block;
                                    white-space: nowrap;
                                    text-align: center;
                                    width: 110px;
                                    padding: 0;
                                    margin: 0;
                                    img {
                                        height: 2rem;
                                        margin: 0 auto;
                                    }
                                    span {
                                        display: block;
                                        color: var(--blocks-selection-item-text-color);
                                        font-weight: 400;
                                        transition: all 0.3s;
                                        font-size: 1rem;
                                        margin-top: 0.5rem;
                                    }
                                }
                                &:hover {
                                    box-shadow: var(--blocks-selection-item-shadow);
                                    background-color: var(--blocks-selection-item-bg);
                                    a {
                                        span {
                                            background-image: linear-gradient(
                                                112.31deg,
                                                #00e08f 19.49%,
                                                #00a3ff 98.51%
                                            );
                                            background-size: auto auto;
                                            background-clip: border-box;
                                            background-size: 100% auto;
                                            background-clip: text;
                                            text-fill-color: transparent;
                                            -webkit-background-clip: text;
                                            -webkit-text-fill-color: transparent;
                                        }
                                    }
                                }
                            }
                        }
                    }
                    a {
                        border: 1px solid var(--landing-border);
                        background-color: var(--hero-box-bg);
                        margin-bottom: 1rem;
                        color: var(--landing-text-color);
                        cursor: pointer;
                        font-size: 1.5rem;
                        text-align: left;
                        display: flex;
                        align-items: center;
                        padding: 0.8rem;

                        img {
                            display: block;
                            margin-right: 1.5rem;
                        }
                    }
                }
            }
        }
    }
}
