$landingBreakpointMD: 767px;
$landingBreakpointLG: 991px;
$landingBreakpointXL: 1199px;

@import "./_main";
@import "./_light";
@import "./_dark";
@import "./_headersection";
@import "./_herosection";
@import "./_userssection";
@import "./_cardssection";
@import "./_animationssection";
@import "./_stylesection";
@import "./_responsivesection";
@import "./_blockssection";
@import "./_example";
