.landing-light {
    --landing-body-bg: #fff;
    --landing-text-color: #333333;

    --landing-section-border: linear-gradient(
        90deg,
        rgba(0, 67, 238, 0.55) 0%,
        rgba(0, 102, 255, 0) 60%,
        rgba(0, 255, 240, 0.45) 100%
    );
    
    --linkbox-button-bg: #F7F7F7;

    //hero
    --patern-1: linear-gradient(180deg, #ffffff 1.39%, #4feaff 100%);
    --patern-2: linear-gradient(180deg, #ffffff 0%, #00ff94 100%);
    --patern-3: linear-gradient(180deg, #ffffff 0%, #ffffff 100%);
    --patern-4: linear-gradient(180deg, #dbdbdb 0%, #000aff 100%);
    --pattern-mode: multiply;

    //hero-box
    --hero-box-bg: linear-gradient(116.22deg, #FFFFFF 33.5%, rgba(255, 255, 255, 0.58) 99.16%);
    --hero-box-shadow: 0px 0px 28px 14px rgba(0, 4, 36, 0.1);
    --hero-box-border: 2px solid rgba(212, 212, 212, 1);
    --hero-box-text-color:#000000;
    --hero-box-classes-bg: rgba(0, 120, 227, 0.4);
    --hero-box-classes-purple-bg: rgba(128, 0, 255, 0.4);
    --hero-box-pink-bg: rgba(227, 0, 204, 0.4);


    //cards
    --cards-bg:#FFF;
    --cards-border:1px solid rgba(0, 0, 0, 0.1);
    --cards-shadow:none;
    --cards-color-text-color:rgba(0, 0, 0, 0.3);

    --landing-background-mask: url("/images/landing/bg-hero-grid-light.svg");
    --landing-menu-item-text-color: #505050;
    --landing-menu-item-hover-text-color: #04b9d7;
}
