.landing {
  background-color: var(--landing-body-bg);
  min-height: 100vh;
  font-family: "Inter";
  overflow-x: hidden;
  .landing-intro {
    background-image: var(--landing-background-mask);
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .linkbox-button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0.75rem 1rem;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 0.01%, rgba(0, 0, 0, 0.12) 100%), #0078e3;
    background-blend-mode: multiply, normal;
    box-shadow: inset 0px 1px 0px rgba(255, 255, 255, 0.25);
    border-radius: 7px;
    font-weight: 500;
    line-height: 100%;
    text-align: center;
    color: #ffffff;
    transition: background 0.3s;
    &:hover {
      background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 0.01%, rgba(0, 0, 0, 0.3) 100%), #0078e3;
    }
  }
}
