.landing {
	background-color: var(--landing-body-bg);
	min-height: 100vh;
	overflow-x: hidden;

	.landing-title {
		background-image: linear-gradient(112.31deg, #00e08f 19.49%, #00a3ff 98.51%);
		background-size: auto auto;
		background-clip: border-box;
		background-size: 100% auto;
		background-clip: text;
		text-fill-color: transparent;
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
	}

	.landing-subtitle {
		line-height: 140%;
		max-width: 68rem;
		color: var(--landing-text-color);
	}

	.landing-section-border {
		position: relative;
		&::before {
			content: "";
			position: absolute;
			top: -2px;
			left: 0;
			right: 0;
			height: 2px;
			width: 100%;
			background: var(--landing-section-border);
		}
	}
	.linkbox-button {
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: center;
		padding: 0.75rem 1rem;
		background: var(--secondary-button-bg);
		background-blend-mode: multiply, normal;
		box-shadow: var(--secondaty-button-shadow);
		border-radius: 7px;
		font-weight: 500;
		line-height: 100%;
		text-align: center;
		color: var(--secondaty-button-text-color);
		transition: all 0.2s;
		&:hover {
			background: var(--secondary-button-hover-bg);
			color: var(--secondary-button-hover-text-color);
		}
	}
}

.landing-footer {
	.landing-footer-row {
		&.row-1 {
			position: relative;
			border: none;
			&::before {
				content: "";
				position: absolute;
				bottom: 0;
				left: 0;
				right: 0;
				height: 2px;
				width: 100%;
				background: var(--landing-footer-border);
			}
		}

		.landing-footer-left {
			img {
				height: 2.5rem;
			}
		}
		.landing-footer-right {
			color: var(--landing-menu-item-text-color);
			font-size: 1rem;
			a {
				color: var(--landing-menu-item-text-color);
				font-size: 1rem;
				line-height: 1;
				padding: 0.25rem 0.5rem;
				transition: color 0.3s;

				&:hover {
					color: var(--landing-menu-item-hover-text-color);
				}
			}
		}
	}
}

@media screen and (max-width: $landingBreakpointLG) {
	.landing-footer-section {
		.landing-footer-container {
		}
	}
}

@media screen and (min-width: 1960px) {
	.landing-footer-container {
		width: 1650px !important;
		margin-left: auto !important;
		margin-right: auto !important;
	}
}
