.landing-responsive-section {
    padding: 1rem 0;
    position: relative;
    border: none;
    &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        height: 2px;
        width: 100%;
        background: var(--landing-section-border);
    }
    
    .landing-responsive-container {

        .landing-responsive-content {
            text-align: center;

            .landing-responsive-title {
                max-width: 68rem;
                font-size: 6rem;
                background-image: linear-gradient(112.31deg, #00e08f 19.49%, #00a3ff 98.51%);
                background-size: auto auto;
                background-clip: border-box;
                background-size: 100% auto;
                background-clip: text;
                text-fill-color: transparent;
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
            }

            .landing-responsive-subtitle {
                line-height: 140%;
                text-align: center;
                max-width: 68rem;
                color: var(--landing-text-color);
            }

            .linkbox-button {
                background: linear-gradient(
                        180deg,
                        rgba(0, 0, 0, 0) 0%,
                        rgba(0, 0, 0, 0) 0.01%,
                        rgba(0, 0, 0, 0.12) 100%
                    ),
                    linear-gradient(0deg, #061a49, #061a49), #002342;
            }
        }

        .landing-responsive-wrapper {
            .landing-responsive-breaks {
                > div {
                    background: rgba(1, 4, 27, 0.3);
                    background-blend-mode: color-dodge;
                    border: 1px solid rgba(255, 255, 255, 0.1);
                    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.3);
                    border-radius: 3.5px;

                    &.active-responsive {
                        opacity: 1 !important;
                        background: radial-gradient(
                                79.09% 79.09% at 50% 98.36%,
                                rgb(0 0 0 / 14%) 0%,
                                rgba(255, 255, 255, 0) 100%
                            ),
                            rgba(255, 255, 255, 0.1);
                    }

                    &:hover {
                        background: rgba(1, 4, 27, 1);
                    }
                }
            }
            .landing-responsive-iframe {
                .resize-wrapper{
                    max-width: 1200px;
                    min-width: 400px;
                }
                .resize-handle {
                    width: 17.5px;
                    height: 77px;
                    background: rgba(255, 255, 255, 0.1);
                    border: 1px solid rgba(255, 255, 255, 0.1);
                    border-radius: 3.5px;
                    z-index: 10;
                    right: -20px;
                    top: 40%;
                    cursor: col-resize;

                    &:hover {
                        background: rgba(255, 255, 255, 0.2);
                    }
                }
            }
        }
    }
}

@media screen and (min-width: 1960px) {
    .landing-responsive-container {
        width: 1650px !important;
        margin-left: auto !important;
        margin-right: auto !important;
    }
}
