.landing-responsive-section {
    padding: 1rem 0;
    position: relative;
    border: none;
    &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        height: 2px;
        width: 100%;
        background: var(--landing-section-border);
    }

    .landing-responsive-container {
        .landing-responsive-content {
            text-align: center;

            .landing-responsive-title {
                max-width: 68rem;
                font-size: 6rem;
                background-image: linear-gradient(112.31deg, #00e08f 19.49%, #00a3ff 98.51%);
                background-size: auto auto;
                background-clip: border-box;
                background-size: 100% auto;
                background-clip: text;
                text-fill-color: transparent;
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
            }

            .landing-responsive-subtitle {
                line-height: 140%;
                text-align: center;
                max-width: 68rem;
                color: var(--landing-text-color);
            }

            .linkbox-button {
                background: var(--linkbox-button-bg);
            }
        }

        .landing-responsive-wrapper {
            .landing-responsive-breaks {
                > div {
                    background: var(--responsive-breaks-bg);
                    background-blend-mode: color-dodge;
                    border: var(--responsive-breaks-border);
                    box-shadow: var(--responsive-breaks-shadow);
                    border-radius: 3.5px;
                    color: var(--card-slider-text-color);

                    &.active-responsive {
                        opacity: 1 !important;
                        background: var(--responsive-active-bg);
                        color: #fff;
                    }
                }
            }
            .landing-responsive-iframe {
                .resize-wrapper {
                    max-width: 1200px;
                    min-width: 400px;
                }
                .resize-handle {
                    width: 17.5px;
                    height: 77px;
                    background: var(--responsive-resize-handle-bg);
                    border: var(--responsive-resize-handle-border);
                    border-radius: 3.5px;
                    z-index: 10;
                    right: -20px;
                    top: 40%;
                    cursor: col-resize;

                    &:hover {
                        background: var(--responsive-resize-handle-hover-bg);
                    }
                }
            }
        }
    }
}

@media screen and (min-width: 1960px) {
    .landing-responsive-container {
        width: 1650px !important;
        margin-left: auto !important;
        margin-right: auto !important;
    }
}
