.landing-style-section {
    padding: 1rem 0;

    .landing-style-container {
        min-height: 67rem;
        max-width: 1650px !important;
        margin-left: auto !important;
        margin-right: auto !important;
        .landing-style-content {
            .landing-title {
                max-width: 68rem;
            }

            .landing-subtitle {
                text-align: center;
            }
        }
        .landing-style-cards-wrapper {
            max-width: 922px;
            margin: 0 auto;
            background-color: var(--style-cards-section-bg);
            .inactive {
                opacity: 0;
            }

            .landing-style-cards-header {
                display: flex;
                align-items: center;
                width: 100%;
                border-top-right-radius: 6px;
                border-top-left-radius: 6px;
                border: var(--landing-border);
                border-bottom: 0;

                .slide-tab {
                    height: 4rem;
                    width: 100%;
                    border-bottom: var(--landing-border);
                    border-width: 2px;
                    text-align: center;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    cursor: pointer;
                    &:hover {
                        background-color: var(--surface-hover);
                    }
                    span {
                        font-weight: 600;
                        font-size: 17.5px;
                        line-height: 21px;
                        color: var(--style-cards-header-text-color);
                    }
                    &.slide-tab-active {
                        position: relative;
                        &::before {
                            content: "";
                            position: absolute;
                            bottom: -2px;
                            left: 0;
                            right: 0;
                            height: 2px;
                            width: 0%;
                            background: linear-gradient(112.31deg, #00e08f 19.49%, #00a3ff 98.51%);
                            animation: load 10s linear forwards;
                        }
                        span {
                            background-image: linear-gradient(112.31deg, #00e08f 19.49%, #00a3ff 98.51%);
                            background-size: auto auto;
                            background-clip: border-box;
                            background-size: 100% auto;
                            background-clip: text;
                            text-fill-color: transparent;
                            -webkit-background-clip: text;
                            -webkit-text-fill-color: transparent;
                        }

                        &.pause-animation::before {
                            animation-play-state: paused;
                            -webkit-animation-play-state: paused;
                            -moz-animation-play-state: paused;
                            -o-animation-play-state: paused;
                        }
                    }
                }
            }

            .landing-style-cards-container {
                border-bottom-right-radius: 6px;
                border-bottom-left-radius: 6px;
                border: var(--landing-border);
                border-top: 0;

                .slider-wrapp {
                    position: relative;
                    width: 400px;
                    height: 549px;
                    .slider-buttons {
                        position: absolute;
                        width: 100%;
                        top: 50%;
                        margin-top: -1rem;
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        padding: 0 0.8rem;
                        .slider-button {
                            border-radius: 3.5px;
                            background-color: var(--secondary-button-bg);
                            box-shadow: var(--secondaty-button-shadow);
                            color: (--secondaty-button-text-color);
                            border: none;

                            &:hover {
                                background-color: var(--secondary-button-hover-bg);
                                color: (--secondary-button-hover-text-color);
                            }
                        }
                    }
                    .slider {
                        margin: 0 auto;
                        display: flex;
                        justify-content: center;
                        position: relative;
                        top: 3.25rem;
                        .slide {
                            position: absolute;
                        }
                    }
                }

                .landing-style-code-section {
                    > pre {
                        width: 100%;
                        max-width: 518px;
                        width: 518px;
                        margin: 0;
                    }
                    pre {
                        width: 100%;
                        height: 549px;
                        max-height: 549px;
                        max-width: 518px;
                        width: 518px;
                        code[class*="language-"] {
                            overflow: auto;
                            padding: 1rem !important;
                            width: 100%;
                            max-height: 549px;
                            max-width: 600px;
                            background: var(--code-background);
                            background-blend-mode: color-dodge, normal !important;
                            border: var(--code-border);
                            backdrop-filter: blur(20px) !important;
                            border-radius: 0px !important;
                            border-top: none;
                            border-bottom: none;
                            color: #fff !important;
                            border-bottom-right-radius: 6px;
                            border-bottom-left-radius: 6px;

                            &::-webkit-scrollbar {
                                width: 8px;
                                height: 8px;
                                background: #f1f1f12d;
                            }

                            &::-webkit-scrollbar-thumb {
                                background: #e6e5ff56;
                                border-radius: 6px;
                            }

                            &::-webkit-scrollbar-thumb:hover {
                                background: #e6e5ff77;
                            }
                            &::-webkit-scrollbar-corner {
                                background: #f1f1f12d;
                            }
                        }
                        .token.property,
                        .token.tag,
                        .token.boolean,
                        .token.number,
                        .token.function-name,
                        .token.constant,
                        .token.symbol,
                        .token.deleted {
                            color: var(--code-divs-color);
                        }
                        .token.selector,
                        .token.attr-name,
                        .token.string,
                        .token.char,
                        .token.function,
                        .token.builtin,
                        .token.inserted {
                            color: var(--code-text-color);
                        }

                        .token.atrule,
                        .token.attr-value,
                        .token.keyword,
                        .token.class-name {
                            color: var(--code-class-text-color);
                        }
                    }
                }
            }
        }
    }
}

@keyframes load {
    0% {
        width: 0%;
    }
    100% {
        width: 100%;
    }
}

@media screen and (min-width: 1960px) {
    .landing-cards-container {
        width: 1650px !important;
        margin-left: auto !important;
        margin-right: auto !important;
    }
}

@media screen and (min-width: 1960px) {
    .landing-style-container {
        width: 1650px !important;
        margin-left: auto !important;
        margin-right: auto !important;
    }
}

@media screen and (max-width: $landingBreakpointLG) {
    .landing-style-section {
        .landing-style-container {
            .landing-style-cards-wrapper {
                max-width: 600px;
                .landing-style-cards-header {
                    overflow-x: auto;

                    .slide-tab {
                        min-width: 140px;
                    }
                }

                .landing-style-cards-container {
                    flex-direction: column;

                    .slider-wrapp {
                        height: 445px;
                        .slider {
                            top: 2rem;
                        }
                    }
                    .landing-style-code-section {
                        display: flex;
                        width: 100%;
                        justify-content: center;
                        margin-top: 4rem;
                        > pre {
                            width: 100%;
                            max-width: none !important;
                            margin: 0;
                        }
                        pre {
                            width: 100%;
                            height: 448px;
                            max-height: 513px;
                            max-width: none !important;
                            code[class*="language-"] {
                                overflow: auto;
                                width: 100%;
                                max-height: 513px;
                                max-width: none !important;
                            }
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width: $landingBreakpointMD) {
}

@media screen and (max-width: 560px) {
    .landing-style-section {
        .landing-style-container {
            .landing-style-cards-wrapper {
                .landing-style-cards-container {
                    .slider-wrapp {
                        width: 100%;
                        .slider-buttons {
                            display: none;
                        }
                    }
                }
            }
        }
    }
}
