.landing-style-section {
    padding: 1rem 0;
    position: relative;
    border: none;
    &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        height: 2px;
        width: 100%;
        background: var(--landing-section-border);
    }

    .landing-style-container {
        min-height: 67rem;
        max-width: 1650px !important;
        margin-left: auto !important;
        margin-right: auto !important;
        .landing-style-content {
            .landing-style-title {
                max-width: 68rem;
                font-size: 6rem;
                background-image: linear-gradient(112.31deg, #00e08f 19.49%, #00a3ff 98.51%);
                background-size: auto auto;
                background-clip: border-box;
                background-size: 100% auto;
                background-clip: text;
                text-fill-color: transparent;
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
            }

            .landing-style-subtitle {
                line-height: 140%;
                max-width: 68rem;
                text-align: center;

                color: var(--landing-text-color);
            }

            .linkbox-button {
                background: var(--linkbox-button-bg);
            }
        }

        .landing-style-cards-wrapper {
            .landing-style-cards {
                display: flex;
                gap: 2rem;
            }
        }
    }
}

@media screen and (min-width: 1960px) {
    .landing-cards-container {
        width: 1650px !important;
        margin-left: auto !important;
        margin-right: auto !important;
    }
}

.landing-style-code-section {
    > pre {
        width: 100%;
        max-width: 600px;
        width: 518px;
    }
    pre {
        width: 100%;
        height: 448px;
        max-height: 513px;
        max-width: 600px;
        width: 518px;
        code[class*="language-"] {
            overflow: auto;
            width: 100%;
            max-height: 513px;
            max-width: 600px;
            background: var(--code-background);
            background-blend-mode: color-dodge, normal !important;
            background-color: var(--cards-bg-color);
            border: var(--code-border);
            backdrop-filter: blur(20px) !important;
            border-radius: 7px !important;
            color: #fff !important;

            &::-webkit-scrollbar {
                width: 8px;
                height: 8px;
                background: #f1f1f12d;
            }

            &::-webkit-scrollbar-thumb {
                background: #e6e5ff56;
                border-radius: 6px;
            }

            &::-webkit-scrollbar-thumb:hover {
                background: #e6e5ff77;
            }
            &::-webkit-scrollbar-corner {
                background: #f1f1f12d;
            }
        }
        .token.property,
        .token.tag,
        .token.boolean,
        .token.number,
        .token.function-name,
        .token.constant,
        .token.symbol,
        .token.deleted {
            color: var(--code-divs-color);
        }
        .token.selector,
        .token.attr-name,
        .token.string,
        .token.char,
        .token.function,
        .token.builtin,
        .token.inserted {
            color: var(--code-text-color);
        }

        .token.atrule,
        .token.attr-value,
        .token.keyword,
        .token.class-name {
            color: var(--code-class-text-color);
        }
    }
}
@mixin transform($parameter) {
    -webkit-transform: $parameter;
    -moz-transform: $parameter;
    -o-transform: $parameter;
    -ms-transform: $parameter;
    transform: $parameter;
}

@mixin transition($parameters...) {
    -webkit-transition: $parameters;
    -moz-transition: $parameters;
    -o-transition: $parameters;
    -ms-transition: $parameters;
    transition: $parameters;
}

#slider-wrapp {
    height: auto;
    width: 518px;
    min-height: 400px;
    text-align: center;
    display: flex;
    justify-content: flex-end;

    #slider {
        width: 443px;
        height: auto;
        position: relative;
        left: 0;
        padding-left: 140px;
        top: -8px;

        .slide-1 {
            transform: translate3d(0px, 0px, -500px) scale(1);
            z-index: 4;
            position: absolute;
            transition: all 0.3s;
        }

        .slide-2 {
            transform: translate3d(-60px, 0px, -500px) scale(0.9);
            z-index: 3;
            position: absolute;
            transition: all 0.3s;
        }

        .slide-3 {
            transform: translate3d(-120px, 0px, -500px) scale(0.8);
            z-index: 2;
            position: absolute;
            transition: all 0.3s;
        }

        .slide-4 {
            transform: translate3d(-180px, 0px, -500px) scale(0.7);
            z-index: 1;
            position: absolute;
            transition: all 0.3s;
        }
    }
}

@media screen and (min-width: 1960px) {
    .landing-style-container {
        width: 1650px !important;
        margin-left: auto !important;
        margin-right: auto !important;
    }
}

@media screen and (max-width: $landingBreakpointMD) {
    .landing-style-code-section {
        > pre {
            width: 100%;
            max-width: 600px;
            width: auto;
        }
        pre {
            width: 100%;
            height: 448px;
            max-height: 513px;
            max-width: 600px;
            width: auto;
            code[class*="language-"] {
                overflow: auto;
                width: 100%;
                max-height: 513px;
                max-width: 600px;
            }
        }
    }
}

@media screen and (max-width: 560px) {
    .landing-style-code-section {
        > pre {
            width: 100%;
            max-width: 600px;
            width: auto;
        }
        pre {
            width: 100%;
            height: 448px;
            max-height: 513px;
            max-width: 600px;
            width: auto;
            code[class*="language-"] {
                overflow: auto;
                width: 100%;
                max-height: 513px;
                max-width: 350px;
            }
        }
    }
    #slider-wrapp {
        #slider {
            padding-left: 100px;
            .slide-1 {
                transform: translate3d(0px, 0px, -500px) scale(1);
            }

            .slide-2 {
                transform: translate3d(-30px, 0px, -500px) scale(0.9);
            }

            .slide-3 {
                transform: translate3d(-60px, 0px, -500px) scale(0.8);
            }

            .slide-4 {
                transform: translate3d(-90px, 0px, -500px) scale(0.7);
            }
        }
    }
}
