<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PrimeFlex</title>

    <link rel="stylesheet" href="{{site.baseurl}}/assets/css/primeflex.css">
    <link rel="stylesheet" id="layout-css" href="{{site.baseurl}}/assets/css/primeflex-saga.css">
    <link rel="stylesheet" href="{{site.baseurl}}/assets/css/primeicons.css">
    <link rel="stylesheet" href="{{site.baseurl}}/assets/css/prism.css">
    <link rel="stylesheet" href="{{site.baseurl}}/assets/css/styles.css">
    <link rel="icon" type="image/x-icon" href="{{site.baseurl}}/assets/images/favicon.ico">
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-93461466-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
    </script>
</head>
<body class="layout-wrapper-light">
<header>
    <div class="layout-topbar flex align-items-center justify-content-between">
        <div class="mobile-menu-wrapper">
            <a class="mobile-button" id="mobile-button" onclick="PrimeFlex.onToggleMobileMenu(event)"><i class="pi pi-bars"></i></a>
            <a href="{{site.baseurl}}">
                <img src="{{site.baseurl}}/assets/images/logo-text-dark.svg" alt="prime" id="mobile-logo">
            </a>
            <a class="mobile-search-button" id="mobile-search-button" onclick="PrimeFlex.onSearchClick(event)"><i class="pi pi-search"></i></a>
        </div>

        <div class="layout-topbar-left">
            <a href="{{site.baseurl}}">
                <img src="{{site.baseurl}}/assets/images/primeflex-logo-dark.svg" alt="prime" id="topbar-logo">
            </a>
            <div id="search-wrapper" class="search-wrapper">
                <span class="inputfield-container relative ml-5 cursor-pointer" onclick="PrimeFlex.onSearchClick(event)">
                    <i class="pi pi-search left-icon absolute top-50"></i>
                    <input type="text" id="search-topbar" class="inputfield hover:border-gray-400 cursor-pointer px-5" placeholder="Search ..." readonly>
                    <span class="right-icon absolute top-50 surface-100">⌘ K</span>
                </span>
                <div id="search-mask" class="search-mask">
                    <div id="search-container" class="search-container">
                        <span class="inputfield-container relative inline-block w-full">
                            <i class="pi pi-search left-icon absolute top-50"></i>
                            <input type="text" id="search-input" autocomplete="off" class="inputfield w-full pl-5" placeholder="Search ..." onkeyup="PrimeFlex.onKeyup(event)">
                            <div class="right-icon absolute top-50 surface-100 flex align-items-center"><div>esc</div> ⎋</div>
                        </span>
                        <ul id="results-container" class="list-none m-0 p-0 surface-ground"></ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="layout-topbar-right">
            <ul class="flex align-items-center">
                <li><a href="{{site.baseurl}}/setup">Setup</a></li>
                <li><a href="https://forum.primefaces.org/viewforum.php?f=148">Forum</a></li>
                <li><a href="https://discord.com/invite/gzKFYnpmCY">Discord</a></li>
                <li><a href="https://www.github.com/primefaces/primeflex">GitHub</a></li>
                <li>
                    <button type="button" id="scheme-button" class="button scheme-button shadow-1" onclick="PrimeFlex.onToggleColorScheme(event)">
                        <i class="pi pi-moon"></i>
                    </button>
                </li>
            </ul>

            <div class="mobile-topbar-menu-wrapper">
                <ul class="mobile-topbar-menu clearlist" id="mobile-topbar-menu">
                    <li><a href="https://www.github.com/primefaces/primeflex">GitHub</a></li>
                    <li><a href="https://forum.primefaces.org/viewforum.php?f=148">Forum</a></li>
                    <li><a href="https://discord.com/invite/gzKFYnpmCY">Discord</a></li>
                    <li><a href="{{site.baseurl}}/setup">Setup</a></li>
                </ul>
            </div>
        </div>
    </div>
</header>
<main>
    <div class="layout-menu-wrapper" id="layout-menu-wrapper">
        {% include navigation.html %}
    </div>

    <div class="layout-main">
        <div class="layout-content layout-documentation" id="doc">
            {{ content }}
        </div>

        <div class="layout-footer flex align-items-center justify-content-between">
            <div class="layout-footer-left">
                <img src="{{site.baseurl}}/assets/images/prime-logo-dark.svg" alt="prime" id="footer-logo">
            </div>
            <div class="layout-footer-right">
                <a href="https://discord.com/invite/gzKFYnpmCY" class="mr-3"><i class="pi pi-discord"></i></a>
                <a href="https://github.com/primefaces/primeflex" class="mr-3 ml-3"><i class="pi pi-github"></i></a>
            </div>
        </div>
    </div>

    <div id="layout-mask" class="layout-mask"></div>
</main>

<script type="text/javascript" src="{{site.baseurl}}/assets/js/prism.js"></script>
<script type="text/javascript" src="{{site.baseurl}}/assets/js/site.js"></script>

<!-- Script pointing to search-script.js -->
<script src="https://unpkg.com/simple-jekyll-search@latest/dest/simple-jekyll-search.min.js"></script>

<!-- Configuration -->
<script>
    SimpleJekyllSearch({
        searchInput: document.getElementById('search-input'),
        resultsContainer: document.getElementById('results-container'),
        searchResultTemplate: '<li><a href="{url}" tabindex="1">{title}</a></li>',
        noResultsText: '<li>No result found!</li>',
        json: '{{site.baseurl}}/search.json'
    })
</script>
</body>
</html>
